/*.log
/target
/target-hakija
/target-virkailija
/*-init.clj
/resources/public/js/compiled
/resources/public/js/test
out
.lein-env
.lein-failures
resources/public/css
.nrepl-port
.idea
*.iml
node_modules
.lein-repl-history
.#*
.cljs_rhino_repl
.DS_Store
resources/public/buildversion.txt
config/docker.edn
config/docker-test.edn
config/speclj.edn
config/ui-test.edn
.swp
/logs
.oracle_jre_usage
npm-debug.log*
*.pid
.gradle
/cypress/videos
/cypress/screenshots
/docker/ataru-cypress-http-proxy/etc/nginx/nginx.conf
.clj-kondo/.cache
.java
.lsp
.calva/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.testcontainers.properties
