/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/js/test
out
.lein-env
.lein-failures
resources/public/css
.nrepl-port
.idea
*.iml
node_modules
.lein-repl-history
.#*
.cljs_rhino_repl
.DS_Store
resources/public/buildversion.txt
config/docker.edn
