{:config-in-ns {ataru.db.migrations.application-migration-store
                {:ignore [:unresolved-symbol]}
                ataru.schema.form-schema
                {:ignore [:unresolved-symbol]}}
 :linters {:not-empty?          {:level :off}
           :refer-all           {:exclude [speclj.core]}
           :unresolved-var {:exclude [taoensso.carmine ring.util.http-response]}
           :unresolved-symbol   {:exclude [(compojure.api.sweet/context)
                                           (compojure.api.sweet/defroutes)
                                           (secretary.core/defroute)
                                           (clojure.java.jdbc/with-db-transaction)
                                           (clojure.java.jdbc/with-db-connection)
                                           (clojure.core.match/match)
                                           (cljs.core.match/match)
                                           (ataru.applications.excel-export-spec/with-excel)
                                           (ataru.applications.excel-export.text-field-spec/with-excel)
                                           (ataru.db.flyway-migration/defmigration)
                                           (ataru.virkailija.editor.editor-macros/with-form-key)
                                           (speclj.core/describe [spec around context describe it should= should== tags with])]}
           :unused-namespace    {:exclude [cljs.repl]}
           :unused-referred-var {:exclude {cljs.repl [Error->map
                                                      apropos
                                                      dir
                                                      doc
                                                      error->str
                                                      ex-str
                                                      ex-triage
                                                      find-doc
                                                      print-doc
                                                      pst
                                                      source]}}
           :invalid-arity       {:skip-args [clojure.core.match/match
                                             cljs.core.match/match]}}
 :lint-as {compojure.api.sweet/defroutes clojure.core/def
           speclj.core/with clojure.core/def
           ajax.macros/easy-api clojure.core/def}}

