<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{header1|safe}}{{form-name|safe}}{{header2|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{payment|safe}}{{amount|safe}}€
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{due-date-desc|safe}}{{due-date|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{text-1|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px;">
          <a style="color: #0093C4;" href="{{payment-url|safe}}" target="_blank">{{payment-url|safe}}</a>
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{text-2|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{text-3|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{info-noreply|safe}}
          <a style="color: #0093C4;" href="mailto:{{decision-info-email|safe}}">{{decision-info-email|safe}}</a>
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
          {{signature-header|safe}}<br><br>
          {{signature-name|safe}}
        </td>
      </tr>
      <tr>
        <td style="padding-top: 50px;"></td>
      </tr>
    </table>
  </body>
</html>
