<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 600px;">
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <span style="font-size: 24px;">Ansökningsavgift - {{haku-name|safe}}</span>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Du har ansökt i följande ansökan: {{haku-name|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Ditt ansökningsnummer är: {{application-key|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Inledningsperiod för utbildningen: {{alkamiskausi-ja-vuosi|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            En högskoletjänsteman har granskat din ansökan och fastställt att du inte uppfyller kraven för befrielse
            från ansökningsavgiften.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Antingen saknar din ansökan de obligatoriska bilagorna, eller så befriar de bilagor du har bifogat dig inte
            från avgiften. Högskolorna kontrollerar grunderna för beviljandet av kontinuerliga uppehållstillstånd
            (uppehållstillståndstyp A) hos Migrationsverket. Om du har bifogat ett kontinuerligt uppehållstillstånd
            till din ansökan, har du efter kontrollen konstaterats vara betalningsskyldig.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Du kan betala ansökningsavgiften via länken nedan:
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <a style="color: #0093C4;" href="{{payment-url|safe}}">{{payment-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Ansökningsavgiften måste betalas senast {{due-date-time|safe}}.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Alla sökande som inte är medborgare i EU/EES eller Schweiz och som inte uppfyller kriterierna för befrielse
            från ansökningsavgiften måste betala en avgift på 100 euro. Observera att din ansökan behandlas först när
            avgiften har betalats.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Om du söker till flera utbildningsprogram som startar under samma termin (t.ex. höstterminen 2025) behöver
            du bara betala ansökningsavgiften en gång. Observera att höst- och vårterminen räknas som separata terminer
            och du måste betala en separat ansökningsavgift för varje termin. Du måste således betala avgiften på nytt
            om du söker till utbildning som börjar under en annan termin än den du tidigare sökt till.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Observera att betalning av ansökningsavgiften inte innebär att du automatiskt blir antagen till
            utbildningen du söker till.
        </td>
    </tr>

    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Om du inte betalar ansökningsavgiften inom utsatt tid kommer din ansökan inte att behandlas och du kan inte
            bli antagen till utbildningen.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Du hittar mer information om ansökningsavgiften och grunderna för befrielse från avgiften på vår
            webbplats: <a style="color: #0093C4;" href="{{kk-payment-info-url|safe}}">{{kk-payment-info-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Om du har frågor som berör ansökningsavgiften kan du kontakta oss
            på <a style="color: #0093C4;" href="mailto:applicationfee@oph.fi">applicationfee@oph.fi</a>.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            För övriga frågor gällande din ansökan, vänligen kontakta den högskola som du har sökt
            till: {{kk-hakijapalvelut-uri|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Med vänlig hälsning,<br/>
            Utbildningsstyrelsen
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Svara inte på det här meddelandet – meddelandet har skickats automatiskt.
        </td>
    </tr>
</table>
</body>
</html>
