<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 600px;">
  {% if application-url|not-empty %}
  <tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      Uusi linkki hakemukseesi: <a style="color: #0093C4;" href="{{application-url|safe}}">{{application-url|safe}}</a>.
      Älä jaa linkkiä ulkopuolisille.
    </td>
  </tr>
  {% endif %}
  {% if oma-opintopolku-link|not-empty %}
  <tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      Voit katsella ja muokata hakemustasi <a style="color: #0093C4;"
                                              href="{{oma-opintopolku-link|safe}}" target="_blank">Oma Opintopolku-palvelussa</a>.
      Voit tehdä muutoksia hakemukseesi hakuaikana. Oma Opintopolku -palvelussa voit
      lisäksi nähdä valintojen tulokset ja ottaa opiskelupaikan vastaan.
    </td>
  </tr>
  {% endif %}
  <tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
    </td>
  </tr>
</table>
</body>
</html>
