<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          <span style="font-size: 24px;">Din ansökan har mottagits</span>
        </td>
      </tr>
      {% if content|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{content|safe}}
        </td>
      </tr>
      {% endif %}
      {% if payment-url|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          <a style="color: #0093C4;" href="{{payment-url|safe}}" target="_blank">{{payment-url|safe}}</a>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Ansökans nummer: {{application-oid}}
        </td>
      </tr>
      {% if hakukohteet|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Dina ansökningsönskemål är:
        </td>
      </tr>
      {% for h in hakukohteet %}
      <tr>
        <td style="padding-left: 20px; padding-top: 10px;">
          {{h}}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if any attachments-without-answer|not-empty kouta-attachments-by-type|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Vänlig kom ihåg att lägga till bilagor:
        </td>
      </tr>
      {% endif %}
      {% if any attachments-without-answer|not-empty %}
      <tr>
        <td>
          <ul>
            {% for attachment in attachments-without-answer %}
            <li>
              {{attachment.label}}
              {% if attachment.deadline|not-empty %}
              <br> Sista leveransdatum {{attachment.deadline}}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if any kouta-attachments-by-type|not-empty %}
      <tr>
        <td>
          <ul>
            {% for type,attachments in kouta-attachments-by-type|not-empty %}
            <li>
              {{type}}
              <br><br>
              {{attachments.0.info-text}}
              <ul>
                {% for attachment in attachments %}
                <li>
                  {{attachment.label|safe}}
                  {% if attachment.deadline|not-empty %}
                  Sista leveransdatum {{attachment.deadline}}
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          <ul></ul>
        </td>
      </tr>
      {% endif %}
      {% if application-url|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          <a style="color: #0093C4;" href="{{application-url|safe}}" target="_blank">{{application-url|safe}}</a>
        </td>
      </tr>
      {% endif %}
      {% if application-url-text|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{application-url-text|safe}}
        </td>
      </tr>
      {% endif %}
      {% if oma-opintopolku-link|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Du kan granska och ändra din ansökan i tjänsten <a style="color: #0093C4;"
                                                     href="{{oma-opintopolku-link|safe}}" target="_blank">Min Studieinfo</a>.
          {% if not no-hakuaika-mentions %}Du kan göra ändringarna i ansökan under ansökningstiden. I Min Studieinfo kan du dessutom se antagningsresultatet och ta emot en studieplats.{% endif %}
        </td>
      </tr>
      {% endif %}
      {% if content-ending|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{content-ending|safe}}
        </td>
      </tr>
      {% endif %}
      {% if signature|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          {{signature|safe}}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td style="padding-top: 50px;"></td>
      </tr>
    </table>
  </body>
</html>
