<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 600px;">
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <span style="font-size: 24px;">Hakemusmaksu - {{haku-name|safe}}</span>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Olet hakenut haussa: {{haku-name|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Kaikkien EU- ja ETA-alueen sekä Sveitsin ulkopuolisten kansalaisten tulee maksaa 100 euron suuruinen
            hakemusmaksu, jotta hakemus käsitellään. Hakemusmaksu tulee maksaa viimeistään {{due-date-time|safe}}.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Hakemusmaksu on lukukausikohtainen, eli voit hakea useissa hauissa samana lukuvuotena alkaviin
            koulutuksiin ja riittää, että maksat hakemusmaksun vain kerran.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Huomioithan, että hakemusmaksun maksaminen ei vielä tarkoita, että sinut hyväksytään koulutukseen.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Voit maksaa hakemusmaksun allaolevan linkin kautta.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <a style="color: #0093C4;" href="{{payment-url|safe}}">{{payment-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Jos et maksa hakemusmaksua määräaikaan mennessä, hakemustasi ei käsitellä,
            etkä voi tulla hyväksytyksi koulutukseen.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Lisätietoja hakemusmaksusta löydät
            nettisivuiltamme: <a style="color: #0093C4;" href="{{kk-payment-info-url|safe}}">{{kk-payment-info-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Jos sinulla on kysyttävää, voit ottaa yhteyttä sähköpostitse
            osoitteeseen <a style="color: #0093C4;" href="mailto:applicationfee@oph.fi">applicationfee@oph.fi</a>.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Ystävällisin terveisin<br/>
            Opetushallitus
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </td>
    </tr>
</table>
</body>
</html>
