<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Application number: {{application-oid}}
        </td>
      </tr>
      {% if hakukohteet|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          You have applied to the following programmes:
        </td>
      </tr>
      {% for h in hakukohteet %}
      <tr>
        <td style="padding-left: 20px; padding-top: 10px;">
          {{h}}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if any attachments-without-answer|not-empty kouta-attachments-by-type|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Please remember to include attachments to your application:
        </td>
      </tr>
      {% endif %}
      {% if any attachments-without-answer|not-empty %}
      <tr>
        <td>
          <ul>
            {% for attachment in attachments-without-answer %}
            <li>
              {{attachment.label}}
              {% if attachment.deadline|not-empty %}
              <br> Deadline in {{attachment.deadline}}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if any kouta-attachments-by-type|not-empty %}
      <tr>
        <td>
          <ul>
            {% for type,attachments in kouta-attachments-by-type|not-empty %}
            <li>
              {{type}}
              <br><br>
              {{attachments.0.info-text}}
              <ul>
                {% for attachment in attachments %}
                <li>
                  {{attachment.label|safe}}
                  {% if attachment.deadline|not-empty %}
                  Deadline in {{attachment.deadline}}
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          <ul></ul>
        </td>
      </tr>
      {% endif %}
      {% if application-url|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          The changes to your application have been saved. You can change your application
          {% if not no-hakuaika-mentions %}during the application period{% endif %}
          with the following link: <a style="color: #0093C4;"
          href="{{application-url|safe}}">{{application-url|safe}}</a>. Do not
          share the link with others.
        </td>
      </tr>
      {% endif %}
      {% if oma-opintopolku-link|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Changes to the application have been saved. You can view your application and make modification to it on <a style="color: #0093C4;"
                                                     href="{{oma-opintopolku-link|safe}}" target="_blank">My Studyinfo</a>{% if not no-hakuaika-mentions %} during the application period{% endif %}.
          If you are using a shared computer, please remember to log out of My Studyinfo.
        </td>
      </tr>
      {% endif %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          This is an automatically generated email, please do not reply.
        </td>
      </tr>
    </table>
  </body>
</html>
