<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 600px;">
  {% if application-url|not-empty %}
  <tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      Din nya länk: <a style="color: #0093C4;" href="{{application-url|safe}}">{{application-url|safe}}</a>.
      Dela inte länken vidare till utomstående.
    </td>
  </tr>
  {% endif %}
  {% if oma-opintopolku-link|not-empty %}
  <tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      Du kan granska och ändra din ansökan i tjänsten <a style="color: #0093C4;"
                                                         href="{{oma-opintopolku-link|safe}}" target="_blank">Min Studieinfo</a>.
      Du kan göra ändringarna i ansökan under ansökningstiden. I Min Studieinfo kan du dessutom se antagningsresultatet och ta emot en studieplats.
    </td>
  </tr>
  {% endif %}
  <tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      Svara inte på detta meddelande, det har skickats automatiskt.
    </td>
  </tr>
</table>
</body>
</html>