<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<table>
    <tr>
        <td>{{application-received-text}}</td>
    </tr>
    <tr>
        <td>{{modify-link-text}}</td>
    </tr>
    <tr>
        <td>{{best-regards}},<br>
            Opintopolku.fi
        </td>
    </tr>
    <tr>
        <td>-</td>
    </tr>
    <tr>
        <td>
            {{application-can-be-found-here}}:<br>
            <a href="{{application-edit-url}}">{{application-edit-url}}</a>
        </td>
    </tr>
</table>
</body>
</html>
