<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 100%;">
    <tr style="background-color: #239FC9;">
        <td style="padding-left: 20px; height: 100px;">
            <img src="{{service-url}}/hakemus/images/opintopolku_large-fi.png">
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
            <span style="font-size: 24px;">{{application-action-text}}</span>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
            {{modify-link-text}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            {{best-regards}},<br>
            Opintopolku
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            -
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            {{application-can-be-found-here}}:
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 10px;">
            <a style="color: #0093C4;" href="{{application-url|safe}}">{{application-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 50px;"></td>
    </tr>
</table>
</body>
</html>
