<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 600px;">
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <span style="font-size: 24px;">Application fee - {{haku-name|safe}}</span>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            You have applied in: {{haku-name|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Your application number is: {{application-key|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Start term of studies: {{alkamiskausi-ja-vuosi|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            All applicants who are not citizens of the EU/EEA or Switzerland and do not qualify for an exemption from
            the application fee need to pay an application fee of 100 euros. Please note that your application can only
            be processed once the fee has been paid.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            You can pay the application fee through the link below:
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <a style="color: #0093C4;" href="{{payment-url|safe}}">{{payment-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            The application fee must be paid by {{due-date-time|safe}}.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            If you apply in multiple application rounds to study programmes starting in the same academic term, you
            only need to pay the application fee once. Please note that the autumn and spring semesters are considered
            two separate academic terms, each requiring a separate application fee. If you have paid the application
            fee for a different semester than the one you are currently applying for, you will need to pay a new
            application fee.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Please note that paying the application fee does not mean that you will be automatically offered admission.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            If you do not pay the application fee by the deadline, your application will not be reviewed and you cannot
            be offered admission to the programme.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            You can find more information about the application fee and exemptions from the fee on our
            website: <a style="color: #0093C4;" href="{{kk-payment-info-url|safe}}">{{kk-payment-info-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            If you have any questions related to the application fee, you can contact us
            at <a style="color: #0093C4;" href="mailto:applicationfee@oph.fi">applicationfee@oph.fi</a>.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            For any other matters related to your application, please contact the higher education institution you have
            applied to: <a style="color: #0093C4;" href="{{kk-hakijapalvelut-uri|safe}}">{{kk-hakijapalvelut-uri|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Best regards<br/>
            Finnish National Agency for Education
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Do not reply to this email - it has been sent automatically.
        </td>
    </tr>
</table>
</body>
</html>
