<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 600px;">
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <span style="font-size: 24px;">Application fee - {{haku-name|safe}}</span>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            You have applied in: {{haku-name|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Your application number is {{application-key|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            In order for their application to be reviewed, all applicants outside the EU, EEA or Switzerland
            need to pay an application fee in the sum of 100 euros. The application fee needs to be
            paid by {{due-date-time|safe}}.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            If you apply in multiple application rounds to study programmes starting in the same academic term
            (e.g. fall 2025), you only need to pay the application fee once.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Please note that paying the application fee does not mean that you will be automatically offered admission.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            You can pay the application fee through the link below.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <a style="color: #0093C4;" href="{{payment-url|safe}}">{{payment-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            If you do not pay the application fee by the deadline, your application will not be
            reviewed and you cannot be offered admission to the programme.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            You can find more information about application fees on our website:
            <a style="color: #0093C4;" href="{{kk-payment-info-url|safe}}">{{kk-payment-info-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            If you have any questions, you can contact us
            at <a style="color: #0093C4;" href="mailto:applicationfee@oph.fi">applicationfee@oph.fi</a>.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Best regards<br/>
            Finnish National Agency for Education
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Do not reply to this email - it has been sent automatically.
        </td>
    </tr>
</table>
</body>
</html>
