<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Ansökans nummer: {{application-oid}}
        </td>
      </tr>
      {% if hakukohteet|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Dina ansökningsmål:
        </td>
      </tr>
      {% for h in hakukohteet %}
      <tr>
        <td style="padding-left: 20px; padding-top: 10px;">
          {{h}}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if any attachments-without-answer|not-empty kouta-attachments-by-type|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Vänlig kom ihåg att lägga till bilagor:
        </td>
      </tr>
      {% endif %}
      {% if any attachments-without-answer|not-empty %}
      <tr>
        <td>
          <ul>
            {% for attachment in attachments-without-answer %}
            <li>
              {{attachment.label}}
              {% if attachment.deadline|not-empty %}
              <br> Sista leveransdatum {{attachment.deadline}}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if any kouta-attachments-by-type|not-empty %}
      <tr>
        <td>
          <ul>
            {% for type,attachments in kouta-attachments-by-type|not-empty %}
            <li>
              {{type}}
              <br><br>
              {{attachments.0.info-text}}
              <ul>
                {% for attachment in attachments %}
                <li>
                  {{attachment.label|safe}}
                  {% if attachment.deadline|not-empty %}
                  Sista leveransdatum {{attachment.deadline}}
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          <ul></ul>
        </td>
      </tr>
      {% endif %}
      {% if application-url|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Ändringarna i din ansökan har mottagits.
          {% if not no-hakuaika-mentions %}Under ansökningstiden kan du{% endif %}
          {% if no-hakuaika-mentions %}Du kan{% endif %}
          ändra din ansökan via följande
          länk: <a style="color: #0093C4;"
          href="{{application-url|safe}}">{{application-url|safe}}</a>. Dela
          inte länken vidare till utomstående.
        </td>
      </tr>
      {% endif %}
      {% if oma-opintopolku-link|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Ändringarna i din ansökan har sparats. Du kan göra ändringarna i ansökan i <a style="color: #0093C4;"
                                                                                        href="{{oma-opintopolku-link|safe}}" target="_blank">Min Studieinfo</a>{% if not no-hakuaika-mentions %} under ansökningstiden {% endif %}.
          Kom ihåg att logga ut från Min Studieinfo om du använder en gemensam dator.
        </td>
      </tr>
      {% endif %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Svara inte på detta meddelande, det har skickats automatiskt.
        </td>
      </tr>
    </table>
  </body>
</html>
