<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Hakemusnumero: {{application-oid}}
        </td>
      </tr>
      {% if hakukohteet|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Hakutoiveesi:
        </td>
      </tr>
      {% for h in hakukohteet %}
      <tr>
        <td style="padding-left: 20px; padding-top: 10px;">
          {{h}}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if any attachments-without-answer|not-empty kouta-attachments-by-type|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Muistathan palauttaa vielä liitteet:
        </td>
      </tr>
      {% endif %}
      {% if any attachments-without-answer|not-empty %}
      <tr>
        <td>
          <ul>
            {% for attachment in attachments-without-answer %}
            <li>
              {{attachment.label}}
              {% if attachment.deadline|not-empty %}
              <br> Palautettava viimeistään {{attachment.deadline}}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if any kouta-attachments-by-type|not-empty %}
      <tr>
        <td>
          <ul>
            {% for type,attachments in kouta-attachments-by-type|not-empty %}
            <li>
              {{type}}
              <br><br>
              {{attachments.0.info-text}}
              <ul>
                {% for attachment in attachments %}
                <li>
                  {{attachment.label|safe}}
                  {% if attachment.deadline|not-empty %}
                  Palautettava viimeistään {{attachment.deadline}}
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          <ul></ul>
        </td>
      </tr>
      {% endif %}
      {% if application-url|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Muutokset hakemukseesi on tallennettu. Voit tehdä muutoksia
          hakemukseesi seuraavan linkin kautta
          {% if not no-hakuaika-mentions %}hakuaikana{% endif %}: <a style="color: #0093C4;"
          href="{{application-url|safe}}">{{application-url|safe}}</a>. Älä
          jaa linkkiä ulkopuolisille.
        </td>
      </tr>
      {% endif %}
      {% if oma-opintopolku-link|not-empty %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Muutokset hakemukseesi on tallennettu. Voit katsella ja muokata hakemustasi <a style="color: #0093C4;"
                                                  href="{{oma-opintopolku-link|safe}}" target="_blank">Oma Opintopolku-palvelussa</a>{% if not no-hakuaika-mentions%} hakuaikana{% endif %}.
          Jos käytät yhteiskäyttöistä tietokonetta, muista kirjautua ulos Oma Opintopolku-palvelusta.
        </td>
      </tr>
      {% endif %}
      <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
          Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </td>
      </tr>
    </table>
  </body>
</html>
