<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 600px;">
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <span style="font-size: 24px;">Hakemusmaksu - {{haku-name|safe}}</span>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Olet hakenut haussa: {{haku-name|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Hakemusnumerosi on: {{application-key|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Koulutuksen alkamiskausi on: {{alkamiskausi-ja-vuosi|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Hakemusmaksuvelvollisuutesi on tarkastettu, eikä sinulla ole hakemuksellasi hakemusmaksusta vapauttavaa
            perustetta.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Joko hakemukseltasi puuttuvat pyydetyt liitteet, tai sitten toimittamasi liitteet eivät hakemusmaksusta
            vapauta. Korkeakoulut tarkastavat jatkuvien oleskelulupien (oleskelulupatyyppi A) myöntämisen perusteen
            Maahanmuuttovirastolta. Jos olet liittänyt hakemuksellesi jatkuvan oleskeluvan, niin olet muuttunut
            hakemusmaksuvelvolliseksi tämän tarkastuksen perusteella.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Voit maksaa hakemusmaksun alla olevan linkin kautta:
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <a style="color: #0093C4;" href="{{payment-url|safe}}">{{payment-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Hakemusmaksu tulee maksaa viimeistään {{due-date-time|safe}}.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Kaikkien EU- ja ETA-alueen sekä Sveitsin ulkopuolisten kansalaisten, joilla ei ole hakemusmaksusta
            vapauttavaa perustetta, tulee maksaa 100 euron suuruinen hakemusmaksu. Hakemusmaksun maksaminen on
            edellytys sille, että hakemus käsitellään.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Hakemusmaksu on lukukausikohtainen, eli voit hakea useissa hauissa samana lukukautena alkaviin koulutuksiin
            ja riittää, että maksat hakemusmaksun vain kerran. Huomaathan, että syyslukukausi ja kevätlukukausi ovat
            kaksi eri lukukautta, joihin pitää maksaa erilliset hakemusmaksut. Jos olet maksanut hakemusmaksun eri
            koulutuksen alkamiskaudelle kuin mille olet nyt hakemassa, niin sinun tulee maksaa uusi hakemusmaksu.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Huomioithan, että hakemusmaksun maksaminen ei vielä tarkoita, että sinut hyväksytään koulutukseen.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Jos et maksa hakemusmaksua määräaikaan mennessä, hakemustasi ei käsitellä,
            etkä voi tulla hyväksytyksi koulutukseen.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Lisätietoja hakemusmaksusta ja siitä vapauttavista perusteista löydät
            verkkosivuiltamme: <a style="color: #0093C4;" href="{{kk-payment-info-url|safe}}">{{kk-payment-info-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Jos sinulla on hakemusmaksuun liittyen kysyttävää, voit ottaa yhteyttä sähköpostitse
            osoitteeseen <a style="color: #0093C4;" href="mailto:applicationfee@oph.fi">applicationfee@oph.fi</a>.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Muissa hakemukseesi liittyvissä asioissa voit olla yhteydessä siihen korkeakouluun,
            johon olet hakenut: <a style="color: #0093C4;" href="{{kk-hakijapalvelut-uri|safe}}">{{kk-hakijapalvelut-uri|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Ystävällisin terveisin<br/>
            Opetushallitus
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </td>
    </tr>
</table>
</body>
</html>
