<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
<table style="width: 600px;">
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <span style="font-size: 24px;">Tidsfristen för att betala ansökningsavgiften går snart ut, {{haku-name|safe}}</span>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Ansökans nummer är {{application-key|safe}}
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Vi har ännu inte fått din betalning för ansökningsavgiften, betala senast {{due-date-time|safe}}.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Om du inte betalar ansökningsavgiften inom utsatt tid behandlas inte din ansökan,
            och du kan inte bli antagen till utbildningen.
        </td>
    </tr>
    <tr>
        <td>
            <hr/>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Alla medborgare i länder som inte hör till EU, EES eller Schweiz måste betala en ansökningsavgift på
            100 euro för att ansökan ska behandlas. Ansökningsavgiften ska betalas senast {{due-date-time|safe}}.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Ansökningsavgiften gäller för en termin, det vill säga att du kan söka till utbildningar som
            börjar samma läsår i flera olika ansökningar och det räcker att du betalar ansökningsavgiften endast en gång.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Observera att betalning av ansökningsavgift ännu inte innebär att du blir antagen till utbildningen.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Du kan betala ansökningsavgiften via länken nedan.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            <a style="color: #0093C4;" href="{{payment-url|safe}}">{{payment-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Om du inte betalar ansökningsavgiften inom utsatt tid behandlas inte din ansökan,
            och du kan inte bli antagen till utbildningen.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Mera information om ansökningsavgiften finns på vår webbsida:
            <a style="color: #0093C4;" href="{{kk-payment-info-url|safe}}">{{kk-payment-info-url|safe}}</a>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Om du har frågor gällande ansökningsavgiften, ta kontakt per e-post på
            adressen <a style="color: #0093C4;" href="mailto:applicationfee@oph.fi">applicationfee@oph.fi</a>.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Med vänlig hälsning,<br/>
            Utbildningsstyrelsen
        </td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-top: 20px;">
            Svara inte på det här meddelandet – meddelandet har skickats automatiskt.
        </td>
    </tr>
</table>
</body>
</html>
