<!doctype html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <script src="/hakemus/vendor/js/stacktrace.min.js?fingerprint={{cache-fingerprint}}"></script>
    <link rel="stylesheet" href="/hakemus/vendor/css/animate.min.css?fingerprint={{cache-fingerprint}}">
    <link rel="stylesheet" href="/hakemus/vendor/css/material-design-iconic-font.min.css?fingerprint={{cache-fingerprint}}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href="/hakemus/css/compiled/hakija-site.css?fingerprint={{cache-fingerprint}}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script type="text/javascript">
        var config = {{config|safe}};
    </script>
</head>
<body class="ataru-app">
<div id="app"></div>
<script src="/hakemus/js/compiled/hakija-app.js?fingerprint={{cache-fingerprint}}"></script>
<script>ataru.hakija.core.init();</script>
</body>
</html>
