<!doctype html>
<html lang="{{lang}}">
<head>
    <title>Opintopolku – hakulomake</title>
    <meta charset='utf-8'>
    <script src="/hakemus/vendor/js/stacktrace.min.js?fingerprint={{cache-fingerprint}}"></script>
    <link rel="stylesheet" href="/hakemus/vendor/css/animate.min.css?fingerprint={{cache-fingerprint}}">
    <link rel="stylesheet" href="/hakemus/vendor/css/material-design-iconic-font.min.css?fingerprint={{cache-fingerprint}}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href="/hakemus/css/compiled/hakija-site.css?fingerprint={{cache-fingerprint}}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script type="text/javascript">
        var config = {{config|safe}};
    </script>
    <script>
        var siteDomain = document.domain;
        var matomoSiteId;
        switch (siteDomain) {
            case "opintopolku.fi":
                matomoSiteId = 4;
                break;
            case "studieinfo.fi":
                matomoSiteId = 13;
                break;
            case "studyinfo.fi":
                matomoSiteId = 14;
                break;
            case "virkailija.opintopolku.fi":
                matomoSiteId = 3;
                break;
            case "testiopintopolku.fi":
            case "testistudieinfo.fi":
            case "testistudyinfo.fi":
                matomoSiteId = 1;
                break;
            case "virkailija.testiopintopolku.fi":
                matomoSiteId = 5;
                break;
            case "demo-opintopolku.fi":
            case "demo-studieinfo.fi":
            case "demo-studyinfo.fi":
                matomoSiteId = 15;
                break;
            default:
                matomoSiteId = 2; // Kehitys
        }
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytiikka.opintopolku.fi/matomo/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', matomoSiteId]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
</head>
<body class="ataru-app">
<div id="app"></div>
<script src="/hakemus/js/compiled/{{js-bundle-name}}?fingerprint={{cache-fingerprint}}"></script>
<script>ataru.hakija.core.init();</script>
</body>
</html>
