<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="vendor/css/animate.min.css?fingerprint={{cache-fingerprint}}">
    <link rel="stylesheet" href="vendor/css/material-design-iconic-font.min.css?fingerprint={{cache-fingerprint}}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href="css/compiled/site.css?fingerprint={{cache-fingerprint}}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app"></div>
    <script src="js/compiled/app.js?fingerprint={{cache-fingerprint}}"></script>
    <script>lomake_editori.core.init();</script>
  </body>
</html>
