<!doctype html>
<html lang="{{lang}}" translate="no">
  <head>
    <meta charset='utf-8'>
    <title>Opintopolku – Lomake-editori</title>
    <link rel="stylesheet" href="/lomake-editori/vendor/css/animate.min.css?fingerprint={{cache-fingerprint}}">
    <link rel="stylesheet" href="/lomake-editori/vendor/css/material-design-iconic-font.min.css?fingerprint={{cache-fingerprint}}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
    <link href="/lomake-editori/css/compiled/virkailija-site.css?fingerprint={{cache-fingerprint}}" rel="stylesheet" type="text/css">
    <script src="/lomake-editori/vendor/js/stacktrace.min.js?fingerprint={{cache-fingerprint}}"></script>
    <script src="/lomake-editori/vendor/js/oph_urls.js?fingerprint={{cache-fingerprint}}"></script>
    <script type="text/javascript">
      var config = {{config|safe}};
      window.urls.addProperties({{front-properties|safe}});
    </script>
  </head>
  <body class="ataru-app">
    <div id="app"></div>
    <script src="/virkailija-raamit/apply-raamit.js?fingerprint={{cache-fingerprint}}"></script>
    <script src="/lomake-editori/js/compiled/{{js-bundle-name}}?fingerprint={{cache-fingerprint}}"></script>
    <script>ataru.virkailija.core.init();</script>
  </body>
</html>
