@import "component-fonts";
@import "component-layout";

.arvosanat-taulukko {
  .default-font();

  display: grid;
  grid-template-columns: e('[arvosana-oppiaine] 1fr [arvosana-oppimaara] 1fr [arvosana-arvosana] 1fr [arvosana-lisaa-valinnaisaine] 1fr [arvosana-rivi-end]');
  grid-auto-rows: 1fr;
}

.arvosana-taulukko__grid-item {
  padding: 3px;
}

.arvosana__oppiaine {
  .flex-row-top-left();

  grid-column-start: arvosana-oppiaine;
}

.arvosana__oppimaara {
  .flex-row-top-right();

  grid-column-start: arvosana-oppimaara;
}

.arvosana__arvosana {
  .flex-row-top-right();

  grid-column-start: arvosana-arvosana;
}

.arvosana__lisaa-valinnaisaine {
  .flex-row-top-center();

  grid-column-start: arvosana-lisaa-valinnaisaine;
}
