.top-banner {
  font-size: 14px;
  justify-content: space-between;
  padding-top: 28px;
  width: 100%;
  display: flex;
  flex: none;
  height: 100px;
  flex-flow: row nowrap;
  background-color: @pale-blue;
  color: white;
  @bar-height: 44px;

  .logo {
    margin-left: 85px;
    margin-right: 42px;
  }
}
