@import "component-colors";
@import "component-fonts";
@import "component-layout";

.a-button {
  .default-font();
  .flex-row(center, flex-start);

  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  outline: 0;
  padding: 0;
  user-select: none;
  white-space: nowrap;
}
