@mobile-width: 593px;

.flex-row-center-center() {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.flex-row-left-center(@justify-content: flex-start) {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: @justify-content;
}

.flex-row-right-center() {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.flex-column-top-left() {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
}

.flex-column-top-center() {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}
