@import "component-fonts";
@import "component-colors";

.a-linkki {
  .default-font();

  color: @text-green;

  &:visited {
    color: @text-green;
  }

  &[disabled] {
    color: @component-light-gray-2;
    cursor: default;
  }
}
