@mobile-width: 593px;

.flex-row(@align-items, @justify-content) {
  align-items: @align-items;
  display: flex;
  flex-flow: row nowrap;
  justify-content: @justify-content;
}

.flex-column(@align-items, @justify-content) {
  align-items: @align-items;
  display: flex;
  flex-flow: column nowrap;
  justify-content: @justify-content;
}
