@import "vars";

.editor-form__container {
  background-color: @very-light-gray;
  border-bottom: 1px solid @gray;
  ::-webkit-scrollbar {
    width: 7px;
    background-color: @light-gray;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #9B9B9B;
    border-radius: 5px;
  }
}

.editor-form__add-new {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  font-size: 14px;
}

.editor-form__list {
  cursor: pointer;
  overflow: auto;
  height: 150px;
  margin-bottom: 15px;
}

.editor-form__list-form-name {
 display: inline-block;
 width: 50%;
}

.editor-form__list-form-editor {
  margin-left: 1em;
  color: @gray;
}

.editor-form__row {
  padding: 0.5em;
  margin: 0;
  color: @blue-text-color;
  display: block;
}

.editor-form__selected-row {
  border-radius: 5px;
  background-color: @selected-blue;
  color: white;
  .editor-form__list-form-editor {
    color: white;
  }
}

.editor-form__preview-link-row {
  display: flex;
  justify-content: flex-end;
}

.editor-form__form-name-input {
  font-family: @input-font;
  font-size: 150%;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid @selected-blue;
  box-shadow: inset 0 0px 2px @selected-blue;
  border-radius: 2px;
}

.editor-form__preview-link {
  white-space: nowrap;
  margin-left: 10px;
}

.editor-form__section_wrapper {
  border: 1px solid @section-gray-border;
  margin-top: 1.5em;
}

.editor-form__section_wrapper div:first-child {
  border: none;
  margin: 0;
}

.editor-form__component-wrapper {
  border: 1px solid @section-gray-border;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 17px 11px;
}

form > .editor-form__component-wrapper {
  margin: 0;
}

.editor-form__text-field-wrapper {
  padding: 10px 14px 20px;
  margin-right: 61px;
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 390px;
}

.editor-form__text-field {
  color: @text-color;
  font-size: 16px;
  border: 1px solid @section-header-text;
  padding: 10px 14px 11px;
  flex-basis: 100%;
  height: 43px;
}

.editor-form__size-button-wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 14px 20px;
  margin-right: 61px;
}

.editor-form__size-button-group {
  display: flex;
}

.editor-form__size-button {
  display: none;
}

.editor-form__size-button + label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 72px;
  cursor: pointer;
  background-color: @not-selected-button-background;
  color: @not-selected-button-text;
}

.editor-form__size-button:checked + label {
  color: @white;
  background-color: @section-header-text;
}

.editor-form__size-button:checked + label::before {
  content: '';
  width: 10px;
  height: 8px;
  margin-left: -16px;
  margin-right: 6px;
  background: url('../../images/icon_check.png') no-repeat;
}

.editor-form__checkbox {
  margin-right: 9px;
}

.editor-form__checkbox-wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 14px 20px;
  justify-content: center;
  margin-right: 61px;
}

.editor-form__checkbox-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.editor-form__component-item-header {
  color: @blue-text-color;
  font-size: 14px;
  margin-bottom: 10px;
}

.editor-form__header-wrapper {
  width: 100%;
  background-color: @element-header-background;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.editor-form__component-header {
  color: @blue-text-color;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
  padding: 10px 11px 8px 11px;
}

.editor-form__component-header-link {
  color: @blue-text-color;
  text-decoration: underline;
  margin: 0px;
  padding: 10px 11px 8px 11px;
  font-size: 14px;
}

.editor-form__checkbox-label {
  color: @blue-text-color;
}

.editor-form__add-component-toolbar {
  cursor: pointer;
  display: flex;
  justify-content: center; 
  border: 1px dashed @section-gray-border;
  background-color: #F7F7F7;
  margin-top: 21px;
  margin-bottom: 14px;
  padding: 0.5em;
  height: 43px;

  ul { margin: 0; }

  li {
    list-style-type: none;
    display: inline-block;
    font-size: 80%;
    margin: 0 0.5em;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .plus-component {
    background-color: @selected-blue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    span {
      color: #F7F7F7;
      display: flex;
      justify-content: center; 
      font-size: 125%;
      align-items: center;
    }
  }
}

.editor-form__section_wrapper {
  .editor-form__add-component-toolbar {
    margin-left: 11px;
    margin-right: 11px;
  }
}
