@import "vars";
@desktop-content-width: 981px;

.top-banner.application-top-banner {
  display: flex;
  justify-content: space-between;
  height: 82px;
  padding-top: 19px;
}
.application-top-banner {
  .logo {
    display: inline-block;
    margin-left: 163px;
    background: url(../../images/opintopolku_large-fi.png) no-repeat;
    width: 225px;
    height: 40px;
  }
  .logo-elements { display: flex; align-items: center; height: 40px;}
  .logo-text { display: none; }
}
.application__banner-wrapper-sections {
  height: 33px;
  background-color: #128AB3;
  display: flex;
  align-items: center;
}
.application__banner-wrapper-sections-content {
  margin: auto;
  width: @desktop-content-width;
  overflow: hidden;
  white-space: nowrap;
}
.application__banner-wrapper-section {
  display: inline-block;
  margin-right: 25px;
  font-size: 13px;
}
.application__banner-wrapper-section-link {
  color: white;
}
.application__banner-wrapper-section-link:link {
  text-decoration: none;
}
.application__banner-wrapper-section-link-not-valid {
  opacity: 0.4;
}
.application__banner-wrapper-section-valid-img {
  margin-right: 5px;
}
.application__invalid-field-status {
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
  width: 190px;
  position: relative;
  margin-right: 20px;
}
.application__invalid-field-status-title {
  cursor: pointer;
}
.application__invalid-fields {
  z-index: 1; /* On mobile (narrow screen) section line is above this container without this */
  position: absolute;
  top: 26px;
  left: 17px;
  text-align: start;
  background-color: white;
  color: @pale-blue;
  min-width: 170px;
  padding: 11px;
  box-shadow: 1px 2px 5px #b3b3b3;
  font-size: 13px;
}
.application__close-invalid-fields {
  position: absolute;
  right: 7px;
  top: -1px;
  display: inline-block;
  font-size: 15px;
  color: #d8d8d8;
  cursor: pointer;
}
.application__invalid-fields-arrow-up {
  position: absolute;
  top: -9px;
  left: 40px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid white;
}
.application__send-application-button {
  background: none;
  color: white;
  border-radius: 2px;
  box-shadow :none;
  border: 1px solid white;
  padding: 5px;
  height: 40px;
  width: 190px;
  margin-right: 163px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.application__send-application-button:disabled {
  opacity: 0.33;
}
.application__sent-indicator {
  margin-top: 3px;
  text-align: center;
  width: 190px;
  font-size: 11px;
  opacity: 0.65;
}
.application__header {
  font-size: 24px;
  font-weight: 400;
  color: #2A2A2A;
  margin-bottom: 20px;
  margin-top: 40px;
}
.application__wrapper-element {
  border-top: solid #D7D7D7 1px;
  margin-bottom: 32px;
  position: relative; /* So that we can make wrapper heading absolute */
}
.application__wrapper-heading {
  color: @blue-text-color;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  width: 245px;
}
.application__wrapper-contents {
  margin-top: 13px;
}
.application__form-content-area {
  margin: auto;
  width: @desktop-content-width;
}
.application__form-field {
  margin-left: 245px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.application_form-field-label {
  font-weight: 600;
  font-size: 14px;
  color: @blue-text-color;
  margin-bottom: 6px;
}
.application__form-text-input {
  border: solid 1px #06526B;
  border-radius: 2px;
  height: 43px;
  font-size: 16px;
  color: @text-color;
  padding-left: 8px;
  box-shadow: inset 0 0 2px #00526c;
}

.application__form-text-input__size-small {
  width: 112px;
}
.application__form-text-input__size-medium {
  width: 305px
}
.application__form-text-input__size-large {
  width: 610px;
}
.application__form-text-area__size-small {
  width: 610px;
  height: 100px;
}
.application__form-text-area__size-medium {
  width: 610px;
  height: 200px;
}
.application__form-text-area__size-large {
  width: 610px;
  height: 400px;
} 
.application__error-display {
  color: red;
  font-weight: bold;
}

/* Smaller screens */

@send-button-width-mobile: 138px;

@media only screen
and (max-width: @desktop-content-width) {
  .application-top-banner {
    .logo {
      margin-left: 10px;
      margin-right: 5px;
      background: url(../../images/opintopolku_small-fi.png) no-repeat;
      width: 40px;
      height: 40px;
    }
    .logo-text {
      display: inline-block;
      font-size: 16px;
    }
  }
  .application__banner-wrapper-sections { display: none; }
  .application__send-application-button {
    margin-right: 10px;
    width: @send-button-width-mobile;
  }
  .application__sent-indicator {
    width: @send-button-width-mobile;
  }
  .application__invalid-field-status {
    width: @send-button-width-mobile;
    font-size: 10px;
  }
  .application__invalid-fields {
    left: -29px;
  }
  .application__header {
    margin-left: 10px;
    margin-top: 20px;
  }
  .application__form-content-area {
    width: auto;
  }
  .application__form-field {
    margin-left: 10px;
  }
  .application__wrapper-heading {
    position: static;
    margin-left: 10px;
  }
  .application__form-text-input__size-large,
  .application__form-text-area__size-small,
  .application__form-text-area__size-medium,
  .application__form-text-area__size-large {
    width: auto;
    max-width: 610px;
    margin-right: 10px;
  }
}
