

.application__header {
  font-size: 24px;
  font-weight: 600;
  color: #2A2A2A;
  margin-bottom: 34.5px;
  margin-top: 40px;
}
.application__wrapper-element {
  border-top: solid #D7D7D7 1px;
  margin-bottom: 32px;
}
.application__wrapper-heading {
  color: @blue-text-color;
  font-size: 16px;
  font-weight: normal;
}
.application__form-content-area {
  margin-left: 70px;
  margin-right: 70px;
}
.application__form-field {
  margin-left: 304px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.application_form-field-label {
  font-weight: 600;
  font-size: 14px;
  color: @blue-text-color;
  margin-bottom: 6px;
}
.application__form-text-input {
  border: solid 1px #06526B;
  border-radius: 2px;
  height: 43px;
  font-size: 16px;
  color: @blue-text-color;
  padding-left: 8px;
  box-shadow: inset 0 0 2px #00526c;
  width: 305px;
}
.application__error-display {
  color: red;
  font-weight: bold;
}