@import "vars";
@banner-height: 33px;
@field-margin-left: 245px;
@form-select-width: 305px;
@total-banner-height: 130px;

.application__banner-container {
  z-index: 10;
  height: @banner-height;
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 0;
}
/* Allows centering of top-banner which contains logo and send-button */
.application__top-banner-container {
  display: flex;
  justify-content: center;
  background-color: #149ecb;
}
.application-top-banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: @desktop-content-width;
  top: 0;
  background-color: #149ecb;
  color: white;
  height: 82px;
  padding-top: 19px;
  padding-bottom: 19px;
  .logo {
    display: inline-block;
    margin-left: 0;
    background: url(../../images/opintopolku_large-fi.png) no-repeat;
    width: 225px;
    height: 40px;
  }
  .logo-elements { display: flex; align-items: center; height: 40px;}
  .logo-text { display: none; }
}
.application__banner-wrapper-sections {
  height: @banner-height;
  background-color: #128AB3;
  display: flex;
  align-items: center;
}
.application__banner-wrapper-sections-content {
  margin: auto;
  width: @desktop-content-width;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 3px;
}
.application__banner-wrapper-section {
  display: inline-block;
  margin-right: 25px;
  font-size: 13px;
}
.application__banner-wrapper-section-link {
  color: white;
}
.application__banner-wrapper-section-link:link {
  text-decoration: none;
}
.application__banner-wrapper-section-link-not-valid {
  opacity: 0.4;
}
.application__banner-wrapper-section-valid-img {
  margin-right: 5px;
}
@send-button-width-mobile: 138px;

.application__readonly-container {
  width: 100%;
}
.application__wrapper-contents {
  margin-top: 13px;
}
.application__form-field {
  margin-left: 245px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.application__form-field-label {
  font-size: 14px;
  color: #2a2a2a;
  margin-bottom: 6px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 600;
  max-width: 610px;
}

.application__form-info-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.application__form-field-list {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}
.application__form-field-list li::before {
  content: '-';
  margin-right: 1em;
  padding-left: 10px;
}

.application__wrapper-heading {
  position: absolute;
  width: 245px;
  h2 {
    color: #2a2a2a;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
  }
}
.application__wrapper-element--border {
  border-top: solid #D7D7D7 1px;
}
.application__scroll-to-anchor {
  position: relative;
  top: -@total-banner-height;
  visibility: hidden;
}
.application__invalid-field-status {
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
  width: 210px;
  position: relative;
}
.application__invalid-field-status-title {
  cursor: pointer;
}
.application__invalid-fields {
  z-index: 1; /* On mobile (narrow screen) section line is above this container without this */
  position: absolute;
  top: 26px;
  left: 17px;
  text-align: start;
  background-color: white;
  color: @pale-blue;
  min-width: 170px;
  padding: 11px;
  box-shadow: 1px 2px 5px #b3b3b3;
  font-size: 13px;
  overflow: hidden;
}
.application__close-invalid-fields {
  position: absolute;
  right: 7px;
  top: -1px;
  display: inline-block;
  font-size: 15px;
  color: #d8d8d8;
  cursor: pointer;
}
.application__invalid-fields-arrow-up {
  position: absolute;
  top: 17px;
  left: 40px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid white;
}
.application__send-application-button {
  background: #fff;
  color: #149ECB;
  border-radius: 3px;
  box-shadow :none;
  padding: 5px;
  height: 40px;
  width: 210px;
  margin-right: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.application__send-application-button:disabled {
  opacity: 0.33;
  cursor: default;
}
.application__sent-indicator {
  margin-top: 3px;
  width: 210px;
  font-size: 13px;
  margin-left: 15px;
}
.application__sent-placeholder {
  color: #fff;
  font-weight: bold;
}
.application__sent-placeholder-text {
  text-transform: uppercase;
  font-weight: normal;
  margin-left: 5px;
  opacity: 0.7;
}
.application__header-container {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 40px;
}
.application__header {
  font-size: 24px;
  font-weight: 400;
  color: #2A2A2A;
  margin: 0px;
  max-width: 800px;
}
.application__header-text {
  font-size: 13px;
  margin-bottom: 3px;
}
.application__header-language-link-separator {
  color: @gray;
}
.application__wrapper-element {
  margin-bottom: 32px;
  position: relative; /* So that we can make wrapper heading absolute */
}
.application__form-content-area {
  margin-top: @total-banner-height;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;
  width: @desktop-content-width;
}
.application__row-field-wrapper {
  margin-left: @field-margin-left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.application__row-field {
  margin-left: 0px;
  margin-right: 50px;
}
.application__form-select-wrapper {
  font-size: 16px;
  position: relative;
  display: inline-block;
}
.application__form-select-label {
  width: @form-select-width;
}
.application__form-select {
  transition: border-color 0.2s;
  width: @form-select-width;

  padding-left: 10px;
  border-radius: 2px;
  height: 43px;
  font-size: 16px;
  color: @text-color;
  background-color: #fff;
  border: 1px solid #AEAEAE;
  box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.20);
  border-radius: 2px;
}

.application__form-select-arrow {
  background: #fff;
  left: 260px;
  top: 1px;
  position: absolute;
  width: 44px;
  height: 41px;
  pointer-events: none;
  box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.20);
  border-radius: 2px;
}

.application__form-select-arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -3px;
  pointer-events: none;
  border-top: 8px solid #2b2b2b;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.application__form-select-arrow:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 8px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.application__form-text-input {
  height: 43px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #AEAEAE;
  box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.20);
  border-radius: 2px;
}
.application__form-repeatable-text--addremove {
  margin-left: 10px;
}
.application__form-repeatable-text-wrap {
  margin-top: 10px;
}
.application__form-repeatable-text-wrap input.application__form-text-input--disabled {
  background: #fff;
  box-shadow: none;
  border: 1px dashed #ccc;
  cursor: text;
}
.application__form-repeatable-text-wrap input.application__form-text-input--disabled:enabled {
  cursor: default;
}
.application__form-repeatable-text-wrap input.application__form-text-input--disabled:enabled::-webkit-input-placeholder {
  color: #4194bf;
}
.application__form-repeatable-text-wrap input.application__form-text-input--disabled:focus {
  background: #fff;
  border: 1px solid #AEAEAE;
  box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.20);
}
.application__form-repeatable-text-wrap input.application__form-text-input--disabled:focus::-webkit-input-placeholder{
  color: #fff;
}
.application__form-field-error {
  background: #ffe9e9;
  border: 1px solid #e09191;
  color: #2b2b2b;
}
.application__form-text-input--normal {
  color: @text-color;
}
.application__form-text-input__size-small {
  width: 120px;
}
.application__form-text-input__size-medium {
  width: 305px
}
.application__form-text-input__size-large {
  width: 610px;
}
.application__form-text-area {
  width: 610px;
}

.application__form-text-input-info-text {
  max-width: 320px;
}

.application__form-text-area-info-text {
  max-width: 610px;
}

.application__form-text-area__size-small {
  height: 100px;
}
.application__form-text-area__size-medium {
  height: 200px;
}
.application__form-text-area__size-large {
  height: 400px;
}
.application__form-text-input:disabled, .application__form-text-area:disabled {
  background: #f4f4f4;
  border: 1px solid #ccc;
  color: #9b9b9b;
}
.application__error-display {
  margin-top: 118px;
  margin-left: 20px;
  color: red;
  font-weight: bold;
}

.application__form-outer-checkbox-container {
  display: flex;
  flex-flow: row nowrap;
}

.application__form-checkbox {
  display: none;
}

.application__form-checkbox + label {
  align-items: center;
  background-color: @multiple-choice-not-selected-background;
  border-radius: 2px;
  color: @text-color;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  height: 43px;
  justify-content: flex-start;
  padding: 0px 19px;
  margin-bottom: 1px;
  min-width: 305px;
}

.application__form-checkbox:checked + label {
  background-color: @section-header-text;
  color: @white;
}

.application__form-checkbox:checked + label::before {
  content: url('../../images/icon_check.png');
  margin-bottom: 2px;
  margin-right: 6px;
}

@media only screen
and (max-width: @desktop-content-width) {
  .application__wrapper-heading {
    position: static;
    margin-left: 10px;
  }
  /*
     Without this first selector, the rule will be dependent on include
     order (for row fields) which seems to be pretty random
   */
  .application__row-field.application__form-field, .application__form-field {
    margin-left: 10px;
  }
  .application-top-banner {
    .logo {
      margin-left: 10px;
      margin-right: 5px;
      background: url(../../images/opintopolku_small-fi.png) no-repeat;
      width: 40px;
      height: 40px;
    }
    .logo-text {
      display: inline-block;
      font-size: 16px;
    }
  }
  .application__banner-wrapper-sections { display: none; }
  .application__send-application-button {
    margin-right: 10px;
    width: @send-button-width-mobile;
  }
  .application__sent-indicator {
    width: 156px;
  }
  .application__sent-placeholder {
    margin-right: 5px;
  }
  .application__invalid-field-status {
    width: @send-button-width-mobile;
    font-size: 10px;
  }
  .application__invalid-fields {
    left: -29px;
  }
  .application__header-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
  .application__form-content-area {
    margin-top: 90px;
    width: auto;
  }
  .application__row-field-wrapper {
    margin: 0px;
  }
  .application__form-text-input__size-large,
  .application__form-text-area__size-small,
  .application__form-text-area__size-medium,
  .application__form-text-area__size-large {
    width: auto;
    max-width: 610px;
    margin-right: 10px;
  }
}

@media print {
  .application__banner-container {
    display: none;
  }

  .application__form-content-area {
    margin-top: 0;
  }
}
