@import "vars";

.panel-content {
  padding: 15px 85px 15px 85px;
}

.text {
  font-family: @paragraph-font;
  font-style: normal;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
}

span, p {
  .text();
}
