@import "vars";

.panel-content {
  padding: 20px 85px 15px 85px;
}

.text {
  font-family: @paragraph-font;
  font-style: normal;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
}

.button {
  background-color: @button-blue;
  font-family: @input-font;
  color: white;
  border: none;
  padding: 10px;
}

span, p {
  .text();
}

.solid-disc-number {
  border-radius: 50%;
  padding: 0 6px;
  background-color: @selected-blue;
  color: #fff;
  right: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
}

.solid-disc-number-inversed {
  background-color: #fff;
  color: @selected-blue;
  border-color: #fff;
}

.semibold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1300ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1300ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1300ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1300ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.placeholder-color(@color: @sg-color-gray-2) {
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    @color;
    font-style: italic;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    @color;
    opacity:  1;
    font-style: italic;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @color;
    opacity:  1;
    font-style: italic;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    @color;
    font-style: italic;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:    @color;
    font-style: italic;
  }
}

.arrow(@direction, @color, @size: 8px, @offset: 50%) {
  position: relative;
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
}

.arrow(@direction, @color, @size: 8px, @offset: 50%) when (@direction = top-right) {
  &:after {
    bottom: 100%;
    right: @offset;
    margin-left: -@size;

    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid @color;
  }

  &:before {
    bottom: 100%;
    right: @offset;
    margin-left: -@size;

    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid;
    border-bottom-color: @color;
  }
}

.arrow(@direction, @color, @size: 8px, @offset: 50%) when (@direction = top) {
  &:after {
    bottom: 100%;
    left: @offset;
    margin-left: -@size;

    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid @color;
  }

  &:before {
    bottom: 100%;
    left: @offset;
    margin-left: -@size;

    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid;
    border-bottom-color: @color;
  }
}

.arrow(@direction, @color, @size: 8px, @offset: 50%) when (@direction = left) {
  &:after {
    left: 0;
    bottom: @offset;
    margin-left: -@size;

    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-right: @size solid @color;
  }
}

.arrow(@direction, @color, @size: 8px, @offset: 50%) when (@direction = bottom) {
  &:after {
    bottom: 0;
    left: @offset;
    margin-bottom: -@size;

    border-right: @size solid transparent;
    border-left: @size solid transparent;
    border-top: @size solid @color;
  }
}
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.caret(@direction, @color, @size: 8px) when (@direction = up) {
  border: solid @color;
  border-width: 0 @size @size 0;
  display: inline-block;
  padding: @size;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.caret(@direction, @color, @size: 8px) when (@direction = down) {
  border: solid @color;
  border-width: 0 @size @size 0;
  display: inline-block;
  padding: @size;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
