@import "vars";

.panel-content {
  padding: 20px 85px 15px 85px;
}

.text {
  font-family: @paragraph-font;
  font-style: normal;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
}

.button {
  background-color: @button-blue;
  font-family: @input-font;
  color: white;
  border: none;
  padding: 10px;
}

span, p {
  .text();
}

.solid-disc-number {
  border-radius: 50%;
  padding: 0 6px;
  background-color: @selected-blue;
  color: #fff;
  right: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
}

.solid-disc-number-inversed {
  background-color: #fff;
  color: @selected-blue;
  border-color: #fff;
}

.semibold {
  font-weight: 600;
}

.close-form-button {
  align-items: center;
  background-color: #DFEBEF;
  border-radius: 50%;
  display: flex;
  height: 25px;
  justify-content: center;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 25px;
}

.close-form-button:hover {
  background-color: #08526A;
}

.close-form-button-mark {
  color: #9DC0CB;
}

.close-form-button:hover > .close-form-button-mark {
  color: @white;
}