@import "vars";

.heading-type {
  font-family: @paragraph-font;
  font-weight: bold;
  margin: 0.5em 0.5em;
  line-height: 1.3em;
}

.text {
  font-family: @paragraph-font;
  font-style: normal;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
}

span, p {
  .text();
}

.top-banner {
  background-color: @pale-blue;
  color: white;
  @bar-height: 40px;

  .logo { margin-left: 85px; }
  .title {
    text-transform: uppercase;
    .section-name {
      border-bottom: 1px solid white;
    }
    .divider {
      background-color: @paler-blue;
      height: @bar-height;
    }
  }
  .profile {
    a { color: white; }
    > div:nth-child(1) {
      p {
        margin: 0;
      }
      p:nth-child(2) { font-size: 80%; }
      color: @paler-blue;
      display: inline-block;
      border-right: 1px solid @paler-blue;
      padding-right: 1em;
      height: @bar-height;
    }
    > div:nth-child(2) {
      float: right;
      line-height: @bar-height;
      margin-left: 1em;
    }
  }
}
