@pale-blue: #009DCD;
@paler-blue: lighten(@pale-blue, 20%);
@selected-blue: #00526C;
@selected-border-color: #327287;
@text-color: #4A4A4A;
@light-gray: #FCFCFC;
@gray: #F7F7F7;

@paragraph-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;