@pale-blue: #009DCD;
@selected-blue: #00526C;
@selected-border-color: #327287;
@text-color: #333333;

@heading-font: "'PT Sans Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif";
@paragraph-font: "'Helvetica Neue', Helvetica, Arial, sans-serif";