@pale-blue: darken(#149ECB, 10%);
@medium-pale-blue: #78b2c6;
@paler-blue: #A8D6E6;
@selected-blue: #00526C;
@button-blue: #00526C;
@banner-blue: #00526C;
@hyper-blue: #458ba7;
@text-color: #2A2A2A;
@input-border-gray: #C5C5C5;
@blue-text-color: darken(#06526B, 5%);
@light-gray: #fbfbfb;
@disabled-background-gray: #F4F4F4;
@lock-background-gray: #e0dbdb;
@grey: darken(#9B9B9B, 15%);
@disabled-font-gray: @grey;
@link-color: #149ecb;
@control-button-hover-blue: #00B5EF;
@gray: @grey;
@gray-of-the-beast: @grey;
@gray_text_contrast: #595959;
@very-light-gray: #FCFCFC;
@warning-brownish-yellow: #F5A623;
@section-gray-border: #CCCCCC;
@section-header-text: #06526B;
@element-header-background: #FFF;
@element-toolbar-background: #F4F5F7;
@element-list-item-background: lighten(#F4F5F7, 1%);
@element-followup-well-background: #F4F5F7;
@element-wrapper-element-well-background: #F4F5F7;
@not-selected-button-background: #E8F6F9;
@not-selected-button-text: #2a2a2a;
@popover-background-gray: #FAFAFA;
@popover-highlighted-gray: #EEEEEE;
@multiple-choice-not-selected-background: #E7F6F9;
@review-separator-color: #e6e6e6;
@disabled-list-item-color: #d7d7d7;
@application-warning-display-border-color: #FBA12E;
@application-warning-display-background-color: #FFF2E1;
@application-error-display-border-color: #DB363E;
@application-error-display-background-color: #FDE9ED;
@application-notification-display-border-color: #188CBF;
@application-notification-display-background-color: white;
@application-form-list-background-color: #E8F2F5;
@application-form-list-hilight-background-color: #cae5f0;
@application-form-list-close-color: #B8DDE8;
@review-note-background-color: #EAECEC;
@desktop-content-width: 981px;
@lock-icon-width: 43px;
@paragraph-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@input-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@modal-shadow: 0 1px 3px 0 rgba(0,0,0,0.30);
@separator-color: #E6E6E6;
@sg-color-red: #e44e4e;
@sg-color-gray: #666666;
@sg-color-gray-2: #666;
@sg-color-green: #4c7f00;
@sg-color-green-lighten-1: #e6ffc1;
@sg-gray-lighten-3: #f4f4f4;
@gold: #F6A623;
@opintopolku-green: #A2BE43;
@button-green: #A0D26C;
@light-green: #9FD466;
@very-light-red: #F1A5A5;
@single-choice-disabled: rgba(7, 103, 135, 0.68);
@banner-height: 43px;
@notice-orange: #fdaf3a;
@opaque-grey: rgba(53, 53, 53, 0.71);
@disabled-header-button: #87aab6;
@light-overlay: rgba(255, 255, 255, 0.95);
@dark-overlay: rgba(0, 0, 0, 0.20);
@form-select-width: 305px;
@attachment-skimming-background-color: #f6f6f6;
@attachment-skimming-header-separator-color: #D8D8D8;
@attachment-skimming-image-view-border-color: #D8D8D8;
@attachment-skimming-image-view-text-color: #f2f2f2;
@kevyt-valinta-grayed-out-color: #D8D8D8;
@kevyt-valinta-unchecked-color: #00526C;
@kevyt-valinta-selection-hovered-background-color: #E8F2F5;
@kevyt-valinta-gray-for-disabled: #BBB;

@processing-blue: @pale-blue;
@unprocessed-orange: @sg-color-red;
@processed-green: @light-green;
@invalid-input-background-color: #ffe9e9;
@invalid-input-border-color: #e09191;

@editor-control-button-hover-blue: #00B5EF;
@editor-control-button-confirm-red: #E44E4E;

@ellipsis-loader-color: #D8D8D8;
@warning-yellow: #FFD024;

//Following are from https://cybercom.invisionapp.com/console/share/TZVUR1DRK3A#%2Fscreens

@primary-green-900: #254905;
@primary-green-700: #3A7A10;
@primary-green-300: #9CFF5A;
@primary-green-100: #CCFFCC;
@primary-green-50: #F4FFF4;

@neutral-grey-900: #1D1D1D;
@neutral-grey-700: #4c4c4c;
@neutral-grey-600: #767676;
@neutral-grey-500: #B2B2B2;
@neutral-grey-400: #CCCCCC;
@neutral-grey-200: #E6E6E6;
@neutral-grey-50: #F5F7F9;
@white: #FFFFFF;

@red: #CC3300;

@accent-green: #3A7A10;
@accent-green-bg: #F4FFF4;
@accent-purple: #990066;
@accent-purple-bg: FFEFF9;
@accent-blue: #0033CC;
@accent-blue-bg: #F2FBFF;
@accent-orange: #CC4000;
@accent-orange-bg: #FFF4F0;
@accent-cyan: #007373;
@accent-cyan-bg: #E5F2F2;

// Virkailija checkboxes
@icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
@icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
@checkbox-color: @link-color;
@checkbox-hover-color: @editor-control-button-hover-blue;