@import "vars";

@kevyt-valinta-checkmark-width-in-px: 13;
@kevyt-valinta-dropdown-border-radius: 5px;
@kevyt-valinta-row-height-in-px: 48;
@kevyt-valinta-vertical-bar-length-in-px: @kevyt-valinta-row-height-in-px - @kevyt-valinta-checkmark-width-in-px;
@kevyt-valinta-dropdown-height-in-px: @kevyt-valinta-row-height-in-px - 4;

.application-handling__kevyt-valinta {
  display: flex;
  flex-flow: column nowrap;
  margin: 32px 0;
  position: relative;
  z-index: 18;
}

.application-handling__kevyt-valinta-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: ~"@{kevyt-valinta-row-height-in-px}px";
}

.application-handling__kevyt-valinta-row > :not(:last-child) {
  flex-shrink: 0;
  margin-right: 10px;
}

.application-handling__kevyt-valinta-checkmark {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  height: ~"@{kevyt-valinta-checkmark-width-in-px}px";
  justify-content: center;
  position: relative;
  width: ~"@{kevyt-valinta-checkmark-width-in-px}px";
}

.application-handling__kevyt-valinta-row:not(:first-child) .application-handling__kevyt-valinta-checkmark::before {
  content: ' ';
  width: 1px;
  height: ~"@{kevyt-valinta-vertical-bar-length-in-px}px";
  position: absolute;
  top: ~"-@{kevyt-valinta-vertical-bar-length-in-px}px";
}

.application-handling__kevyt-valinta-row:not(:first-child) .application-handling__kevyt-valinta-checkmark--checked::before {
  background-color: @light-green;
}

.application-handling__kevyt-valinta-row:not(:first-child) .application-handling__kevyt-valinta-checkmark--unchecked::before {
  background-color: @kevyt-valinta-grayed-out-color;
}

.application-handling__kevyt-valinta-row:not(:first-child) .application-handling__kevyt-valinta-checkmark--grayed-out::before {
  background-color: @kevyt-valinta-grayed-out-color;
}

.application-handling__kevyt-valinta-checkmark--checked {
  background-color: @light-green;
  color: @white;
}

.application-handling__kevyt-valinta-checkmark--unchecked {
  background-color: @kevyt-valinta-unchecked-color;
}

.application-handling__kevyt-valinta-checkmark--grayed-out {
  background-color: @kevyt-valinta-grayed-out-color;
}

.application-handling__kevyt-valinta-checkmark--bold {
  font-weight: 600;
}

.application-handling__kevyt-valinta-label {
  align-items: center;
  display: flex;
  width: 121px;
}

.application-handling__kevyt-valinta-hr {
  background-color: @kevyt-valinta-grayed-out-color;
  height: 1px;
  margin-left: 10px;
  width: 100%;
}

.application-handling__kevyt-valinta-value {
  color: @button-blue;
  font-weight: 800;
}

.application-handling__kevyt-valinta-dropdown-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.application-handling__kevyt-valinta-dropdown {
  align-items: center;
  background-color: @white;
  border: 1px solid @kevyt-valinta-grayed-out-color;
  border-radius: @kevyt-valinta-dropdown-border-radius;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  justify-content: space-between;
  user-select: none;
  width: 100%;
}

.application-handling__kevyt-valinta-dropdown--disabled {
  color: @kevyt-valinta-grayed-out-color;
}

.application-handling__kevyt-valinta-dropdown-item {
  align-items: center;
  background-color: @white;
  border-radius: @kevyt-valinta-dropdown-border-radius;
  display: flex;
  height: ~"@{kevyt-valinta-dropdown-height-in-px}px";
  justify-content: space-between;
  padding: 0 18px;
  width: 100%;
}

.application-handling__kevyt-valinta-dropdown-value {
  flex-grow: 2;
}

.application-handling__kevyt-valinta-dropdown-item:hover {
  background-color: #E8F2F5;
}

.application-handling__kevyt-valinta-dropdown-item-list {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: ~"@{kevyt-valinta-row-height-in-px}px";
  z-index: 19;
}

div.application-handling__kevyt-valinta-dropdown-item-list {
  animation-duration: 0.25s;
}

.application-handling__kevyt-valinta-dropdown-chevron {
  color: @kevyt-valinta-grayed-out-color;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.application-handling__kevyt-valinta-dropdown:hover .application-handling__kevyt-valinta-dropdown-chevron:not(.application-handling__kevyt-valinta-dropdown-chevron-open) {
  transform: scale(1.7);
}

.application-handling__kevyt-valinta-dropdown:hover .application-handling__kevyt-valinta-dropdown-chevron-open {
  transform: scale(1.7) rotate3d(1, 0, 0, 180deg);
}

.application-handling__kevyt-valinta-dropdown-chevron-open {
  transform: rotate3d(1, 0, 0, 180deg)
}
