@import "vars";
@import "mixins";
@bottom-separator-color: #E6E6E6;
@review-separator-color: #D7D7D7;
@total-banner-height: 130px;
@blue-border-color: #06526B;

.application-handling__overview {
  background-color: @very-light-gray;
  border-bottom: 1px solid @bottom-separator-color;
  ::-webkit-scrollbar {
    width: 7px;
    background-color: @light-gray;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #9B9B9B;
    border-radius: 5px;
  }
}

.application-handling__header {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid @bottom-separator-color;
  margin-bottom: 10px;
}

.application-handling__form-list-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 300px;
  margin-right: 20px;
}

.application-handling__form-list-open {
  position: absolute;
  width: 100%;
  background-color: #fafafa;
  border-radius: 2px;
  border: solid 1px #E5E4E4;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  z-index: 15;
  margin: -5px 0 20px -13px;
}

.application-handling__form-list-open::-webkit-scrollbar {
  width: 7px;
  background-color: #f2f2f2;
}

.application-handling__form-list-open::-webkit-scrollbar-thumb {
  background-color: #9B9B9B;
  border-radius: 5px;
}

.application-handling__form-list-row-link {
  text-decoration: none;
}

.application-handling__form-list-row {
  cursor: pointer;
  font-size: 16px;
  color: @text-color;
  line-height: 125%;
  padding: 8px 13px;
  margin-left: 35px;
}

.application-handling__form-list-row:hover {
  background: #f5f5f5;
  border-radius: 3px;
}

.application-handling__form-list-closed .application-handling__form-list-row {
  font-size: 24px;
  .semibold;
  padding: 0 10px 0 0;
  display: inline-block;
  line-height: 100%;
  margin-left: 23px;
}

.application-handling__form-list-closed .application-handling__form-list-row:hover {
  background: none;
}

.application-handling__form-list-arrow {
  color: #06526B;
  cursor: pointer;
  font-size: 26px;
  position: absolute;
  left: 0;
}

.application-handling__form-list-open-wrapper .application-handling__form-list-arrow {
  z-index: 4;
}

.application-handling__form-list-deleted-row {
  color: @disabled-list-item-color;
}

.application-handling__form-list-open-wrapper .application-handling__form-list-selected-row, .application-handling__form-list-open-wrapper .application-handling__form-list-selected-row:hover{
	background: #00526c;
	color: #fff;
    border-radius: 3px;
}

.application-handling__excel-download-link {
  font-size: 14px;
  white-space: nowrap;
  margin-top: 12px;
}

@media only screen
and (max-width: 1000px) {
  .application-handling__header {
    flex-wrap: wrap;
  }
  .application-handling__form-list-wrapper {
    margin-right: 0;
  }
}

.application-handling__filter-state {
  position: relative;
}

.application-handling__filter-state-selection {
  border-radius: 2px;
  text-transform: uppercase;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: -56px;
  text-align: start;
  background-color: white;
  min-width: 263px;
  padding: 11px;
  box-shadow: 1px 2px 5px #b3b3b3;
  font-size: 13px;
  overflow: hidden;
}

.application-handling__filter-state-selection-row {
  color: @gray;
  margin-bottom: 5px;
  margin-left: 26px;
  cursor: pointer;
}

.application-handling__filter-state-selection-row.application-handling__filter-state-selected-row {
  margin-left: 10px;
  color: @pale-blue;
}

.application-handling__filter-state-selection-arrow-down {
  top: 15px;
  width: 21px;
  height: 15px;
  position: absolute;
  overflow: hidden;
  z-index: 11;
}

.application-handling__filter-state-selection-arrow-down:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(135deg);
  top: 10px;
  left: 7px;
  box-shadow: 0px -1px 3px #b3b3b3;
}

.application-handling__list {
  cursor: pointer;
  overflow: auto;
  max-height: 120px;
  margin-bottom: 15px;
}

.application-handling__list-row {
  padding: 0.5em;
  margin: 0;
  display: block;

  .application-handling__list-row--applicant-unknown {
    color: gray;
  }
}

.application-handling__list-row:hover {
  background: #f5f5f5;
  border-radius: 3px;
}

.application-handling__list-header {
  color: #5E5E5E;
  font-size: 14px;
  margin-right: 8px;
}

.application-handling__list-row--selected, .application-handling__list-row--selected:hover {
  border-radius: 3px;
  background-color: @selected-blue;
  color: #fff;
}

.application-handling__list-header:hover {
  background: none;
}

.application-handling__list-row--applicant {
  width: 40%;
  display: inline-block;
}

.application-handling__list-row--time {
  width: 30%;
  display: inline-block;
}

.application-handling__list-row--score {
  width: 10%;
  display: inline-block;
}

.application-handling__list-row--state {
  width: 20%;
  display: inline-block;
}

.application-handling__review-area {
  display: flex;
  justify-content: flex-end;
}

.application-handling__review {
  color: #5E5E5E;
  font-size: 14px;
  background-color: @very-light-gray;
  min-width: 407px;
  border-top: solid @review-separator-color 1px;
  padding: 21px;
}

.application-handling__review-area-main-heading {
  color: @text-color;
  .semibold;
}

.application-handling__review-header {
  color: @text-color;
  .semibold;
  margin-bottom: 16px;
  min-width: 120px;
}

.application-handling__review-row {
  display: flex;
}

.application-handling__review-sub-header {
  width: 120px;
  color: black;
}

.application-handling__review-state-container {
  margin-bottom: 15px;
  display: flex;
}

.application-handling__review-state-list-opened-anchor {
  position: relative;
}

.application-handling__review-state-list-opened {
  position: absolute;
  background-color: @very-light-gray;
  border: solid @gray 1px;
  border-radius: 2px;
  box-shadow: 1px 2px 5px #b3b3b3;
}

.application-handling__review-state-row {
  position: relative;
  color: #8e8e8e;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 26px;
  margin-bottom: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.application-handling__review-state-row:hover {
  background-color: white;
}

.application-handling__review-state-row.application-handling__review-state-selected-row {
  color: @text-color;
  background-color: #ece9e9;
  border-radius: 2px;
  margin-left: 0;
  padding-left: 9px;
  width: 240px;
  display: inline-block;
  text-transform: uppercase;
}

.application-handling__review-state-selected-icon {
  margin-left: 2px;
  margin-right: 5px;
}

.application-handling__event-list {
  border-top: solid @review-separator-color 1px;
  padding-top: 9px;
}

.application-handling__event-timestamp {
  display: inline-block;
  width: 149px;
}

.application-handling__review-notes {
  width: 240px;
  height: 100px;
  border: solid 1px @blue-border-color;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 14px;
  padding: 4px 8px;
  color: #1A1919;
}

.application-handling__review-inputs {
  margin-bottom: 20px;
}

.application-handling__score-input {
  border-radius: 2px;
  border: solid 1px @blue-border-color;
  font-size: 14px;
  padding: 6px;
}

/*
  Readonly application view selectors, different implementations than in hakija.less
  because the layout is different
*/

.application__readonly-container {
  width: 100%;
}
.application__wrapper-contents {
  margin-top: 13px;
}
.application__form-field {
  margin-left: 245px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.application__form-field-label {
  font-size: 14px;
  color: @text-color;
  margin-bottom: 6px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 230px;
  .semibold;
  max-width: 610px;
}

.application__form-info-text {
  display: none;
}

.application__form-field-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.application__form-field-list li::before {
  content: '-';
  margin-right: 1em;
  padding-left: 10px;
}

.application__wrapper-heading {
  position: absolute;
  width: 245px;
  h2 {
    color: @text-color;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
  }
}
.application__wrapper-element--border {
  border-top: solid #D7D7D7 1px;
}

@media only screen
and (max-width: @desktop-content-width) {
  .application__wrapper-heading {
    position: static;
    margin-left: 10px;
  }
  /*
     Without this first selector, the rule will be dependent on include
     order (for row fields) which seems to be pretty random
   */
  .application__row-field.application__form-field, .application__form-field {
    margin-left: 10px;
  }
}

.application__scroll-to-anchor {
  visibility: hidden;
}
