@import "vars";

@kevyt-valinta-checkmark-width: 13px;

.application-handling__kevyt-valinta {
  display: flex;
  flex-flow: column nowrap;
  margin: 32px 0;
}

.application-handling__kevyt-valinta-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.application-handling__kevyt-valinta-row > :not(:last-child) {
  margin-right: 10px;
}

.application-handling__kevyt-valinta-checkmark {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  height: @kevyt-valinta-checkmark-width;
  justify-content: center;
  position: relative;
  width: @kevyt-valinta-checkmark-width;
}

.application-handling__kevyt-valinta-row:not(:last-child) {
  margin-bottom: 25px;
}

.application-handling__kevyt-valinta-row:not(:first-child) .application-handling__kevyt-valinta-checkmark::before {
  content: ' ';
  width: 1px;
  height: 30px;
  position: absolute;
  top: -30px;
}

.application-handling__kevyt-valinta-row:not(:first-child) .application-handling__kevyt-valinta-checkmark--checked::before {
  background-color: @light-green;
}

.application-handling__kevyt-valinta-row:not(:first-child) .application-handling__kevyt-valinta-checkmark--unchecked::before {
  background-color: @kevyt-valinta-grayed-out-color;
}

.application-handling__kevyt-valinta-row:not(:first-child) .application-handling__kevyt-valinta-checkmark--grayed-out::before {
  background-color: @kevyt-valinta-grayed-out-color;
}

.application-handling__kevyt-valinta-checkmark--checked {
  background-color: @light-green;
  color: @white;
}

.application-handling__kevyt-valinta-checkmark--unchecked {
  background-color: @kevyt-valinta-unchecked-color;
}

.application-handling__kevyt-valinta-checkmark--grayed-out {
  background-color: @kevyt-valinta-grayed-out-color;
}

.application-handling__kevyt-valinta-checkmark--bold {
  font-weight: 600;
}

.application-handling__kevyt-valinta-label {
  align-items: center;
  display: flex;
  width: 121px;
}

.application-handling__kevyt-valinta-hr {
  background-color: @kevyt-valinta-grayed-out-color;
  height: 1px;
  margin-left: 10px;
  width: 100%;
}

.application-handling__kevyt-valinta-value {
  color: @button-blue;
  font-weight: 800;
}
