@import "vars";
@import "mixins";

@banner-height: 43px;

.top-banner {
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex: none;
  align-items: center;
  height: @banner-height;
  top: 0;
  flex-flow: row nowrap;
  background-color: @banner-blue;
  color: white;
  z-index: 20;
  .tabs {
    display: flex;
  }
  .title {
    .semibold;
    display: flex;
    white-space: nowrap;
    .active-section {
      color: #fff;
    }
    a { color: white; }
    a:hover {
      text-decoration: none;
      border-bottom: 1px solid white;
    }
  }
  .divider {
    background-color: @hyper-blue;
    height: 33px;
    width: 1px;
    margin: 0 20px 0 20px;
  }

  .active-section-arrow {
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .flasher-container {
    min-width: 200px;
    padding: 10px 15px;
    margin-right: 85px;
   }
  .flasher {
    .semibold;
    font-size: 13px;
    color: #A8D6E6;
    border-radius: 2px;
    animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    span {
      font-style: italic;
      display: inline-block;
    }
  }
  .section-link {
    margin-top: 5px;
    position: relative;
  }
  .profile {
    .semibold;
    margin-left: 85px;
    min-width: 200px;
    color: @paler-blue;
    .tooltip-indicator {
      cursor: help;
    }
  }
}

.fixed-top-banner {
  position: fixed;
}

.in-flow-top-banner {
  position: relative;
}

.fixed-top-banner-placeholder {
  visibility: hidden;
  height: @banner-height;
}

.local-dev-logout {
  position: absolute;
  right: -36px;
  top: 186px;
  transform: rotate(90deg);
  > a {
    text-decoration: none;
    color: red;
    font-style: italic;
  }
}

/*
  1223px is the breakpoint where height of raamit reduces and a mysterious 2 px gap
  appears which is not in any element's margin or padding. This (with position: relative)
  is a remedy for the gap-issue.
*/
@media only screen and (max-width: 1223px) {
  .top-banner {
    top: -2px;
    margin-bottom: 2px;
  }
  .local-dev-logout {
    top: 145px;
  }
}
