@import "vars";

@banner-height: 43px;

.top-banner {
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex: none;
  align-items: center;
  height: @banner-height;
  top: 0;
  flex-flow: row nowrap;
  background-color: @banner-blue;
  color: white;
  z-index: 20;
  .tabs {
    display: flex;
  }
  .title {
    display: flex;
    white-space: nowrap;
    .active-section {
      color: #fff;
    }
    a { color: white; }
    a:hover {
      text-decoration: none;
      border-bottom: 1px solid white;
    }
  }
  .divider {
    background-color: @paler-blue;
    height: 33px;
    width: 1px;
    margin: 0 20px 0 20px;
  }
  .active-section-arrow {
    position: absolute;
    top: 7px;
    left: 33px;
    font-size: 20px;
  }

  .flasher-container {
    min-width: 200px;
    padding: 10px 15px;
    margin-right: 85px;
   }
  .flasher {
    font-size: 13px;
    color: #A8D6E6;
    border-radius: 2px;
    animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    span {
      font-style: italic;
      display: inline-block;
    }
  }
  .section-link {
    margin-top: 5px;
    position: relative;
  }
  .profile {
    margin-left: 85px;
    min-width: 200px;
    color: @paler-blue;
    .tooltip-indicator {
      cursor: help;
    }
  }
}

.fixed-top-banner-placeholder {
  visibility: hidden;
  height: @banner-height;
}

@media only screen and (max-width: 1223px) {
  .top-banner { top: -2px; }
}
