@import "vars";
@bottom-separator-color: #E6E6E6;
@review-separator-color: #D7D7D7;
@total-banner-height: 130px;

.application-handling__overview {
  background-color: @very-light-gray;
  border-bottom: 1px solid @bottom-separator-color;
}

.application-handling__header {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid @bottom-separator-color;
  margin-bottom: 10px;
}

.application-handling__form-list-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 300px;
  margin-right: 20px;
}

.application-handling__form-list-open {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  background-color: #fafafa;
  border-radius: 2px;
  border: solid 1px #E5E4E4;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

.application-handling__form-list-open::-webkit-scrollbar {
  width: 7px;
  background-color: #f2f2f2;
}

.application-handling__form-list-open::-webkit-scrollbar-thumb {
  background-color: #9B9B9B;
  border-radius: 5px;
}

.application-handling__form-list-row-link {
  text-decoration: none;
}

.application-handling__form-list-row {
  cursor: pointer;
  font-size: 16px;
  color: @text-color;
  line-height: 37px;
  padding: 0 13px 0 13px;
}

.application-handling__form-list-row:hover {
  background: #f5f5f5;
}

.application-handling__form-list-closed .application-handling__form-list-row {
  font-size: 24px;
  font-weight: 600;
  padding: 0 10px 0 0;
  display: inline-block;
}

.application-handling__form-list-closed .application-handling__form-list-row:hover {
  background: none;
}

.application-handling__form-list-arrow {
  color: #06526B;
  cursor: pointer;
  font-size: 26px;
}

.application-handling__form-list-open-wrapper .application-handling__form-list-arrow {
  display: none;
}

.application-handling__excel-download-link {
  font-size: 14px;
  white-space: nowrap;
  margin-top: 12px;
}

@media only screen
and (max-width: 1000px) {
  .application-handling__header {
    flex-wrap: wrap;
  }
  .application-handling__form-list-wrapper {
    margin-right: 0;
  }
}

.application-handling__list {
  cursor: pointer;
  overflow: auto;
  height: 150px;
  margin-bottom: 15px;
}

.application-handling__list-row {
  padding: 0.5em;
  margin: 0;
  color: @blue-text-color;
  display: block;

  .application-handling__list-row--applicant-unknown {
    color: gray;
  }
}

.application-handling__list-header {
  color: #5E5E5E;
  font-size: 14px;
}

.application-handling__list-row--selected {
  border-radius: 2px;
  background-color: @selected-blue;
  color: white;
}

.application-handling__list-row--applicant {
  width: 50%;
  display: inline-block;
}

.application-handling__list-row--time {
  width: 25%;
  display: inline-block;
}

.application-handling__list-row--state {
  width: 25%;
  display: inline-block;
}

.application-handling__review-area {
  display: flex;
  justify-content: flex-end;
}

.application-handling__review {
  color: #5E5E5E;
  font-size: 14px;
  background-color: @very-light-gray;
  min-width: 407px;
  border-top: solid @review-separator-color 1px;
  padding: 21px;
}

.application-handling__review-area-main-heading {
  color: @text-color;
  font-weight: 600;
}

.application-handling__review-header {
  color: @section-header-text;
  font-weight: 600;
  margin-bottom: 16px;
}

.application-handling__event-list {
  border-top: solid @review-separator-color 1px;
  padding-top: 9px;
}

.application-handling__event-timestamp {
  display: inline-block;
  width: 149px;
}

.application-handling__review-notes {
  width: 100%;
  height: 323px;
  border: solid 1px #06526B;
  margin-bottom: 30px;
  border-radius: 2px;
  font-size: 16px;
  padding: 11px;
  color: #1A1919;
}

/*
  Readonly application view selectors, different implementations than in hakija.less
  because the layout is different
*/

.application__readonly-container {
  width: 100%;
}
.application__wrapper-contents {
  margin-top: 13px;
}
.application__form-field {
  margin-left: 245px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.application__form-field-label {
  font-size: 14px;
  color: @blue-text-color;
  margin-bottom: 6px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 230px;
}

.application__wrapper-heading {
  position: absolute;
  width: 245px;
  h2 {
    color: @blue-text-color;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
  }
}
.application__wrapper-element--border {
  border-top: solid #D7D7D7 1px;
}

@media only screen
and (max-width: @desktop-content-width) {
  .application__wrapper-heading {
    position: static;
    margin-left: 10px;
  }
  /*
     Without this first selector, the rule will be dependent on include
     order (for row fields) which seems to be pretty random
   */
  .application__row-field.application__form-field, .application__form-field {
    margin-left: 10px;
  }
}

.application__scroll-to-anchor {
  visibility: hidden;
}
