
.close-details-button {
  align-items: center;
  background-color: #DFEBEF;
  border-radius: 50%;
  display: flex;
  height: 25px;
  justify-content: center;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 25px;
}

.close-details-button:hover {
  background-color: #08526A;
}

.close-details-button-mark {
  color: #9DC0CB;
}

.close-details-button:hover > .close-details-button-mark {
  color: white;
}

.privilege-info-outer {
  position: relative;
  padding: 0 10px 0 10px;
}

.privilege-info-inner {
  background-color: #def2ff;
  text-align: center;
  display: block;
  color: #2a2a2a;
  font-weight: 600;
  margin-top: 8px;
  padding: 16px 64px;
}
