@import "vars";
@import "mixins";

body {
  background-color: @very-light-gray;
}

.ataru-app {
  height: auto;
  position: relative;
}

.snackbar {
  position: fixed;
  display: block;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: @warning-brownish-yellow;
  z-index: 110;
  cursor: pointer;
  animation-name: snackbar-appear;
  animation-duration: 1s;
}

@keyframes snackbar-appear {
  from {height: 0px;}
  to {height: 50px;}
}
.snackbar__content-paragraph {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2em;
}
.snackbar__content-status {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2em;
}
.snackbar__content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: white;
  padding-bottom: 5px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.toaster {
  position: sticky;
  top: 40px;
  min-width: 400px;
  max-width: 500px;
  float: right;
  z-index: 9110;
}

.toaster__wrapper {
  cursor: pointer;
}

.toaster__content {
  background-color: @sg-color-red;
  bottom: 0px;
  display: flex;
  text-align: center;
  color: white;
  margin: 20px 20px 10px 10px;
  padding: 10px;
}

.toaster__content-paragraph {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 8px 8px;
  word-break: break-word;
}

.toaster__close {
  display: flex;
  align-items: center;
  margin: 6px;
  float: right;
}

i.toaster-notification {
  display: flex;
  align-items: center;
  float: left;
  top: 50%;
}

.close-details-button {
  align-items: center;
  background-color: #DFEBEF;
  border-radius: 50%;
  display: flex;
  height: 25px;
  justify-content: center;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 25px;
}

.close-details-button:hover {
  background-color: #08526A;
}

.close-details-button-mark {
  color: #9DC0CB;
}

.close-details-button:hover > .close-details-button-mark {
  color: white;
}

.privilege-info-outer {
  position: relative;
  padding: 0 10px 0 10px;
}

.privilege-info-inner {
  background-color: #def2ff;
  text-align: center;
  display: block;
  color: @text-color;
  .semibold;
  margin-top: 8px;
  padding: 16px 64px;
}

[data-tooltip]:hover::after,[data-tooltip]:hover::before {
  opacity: 1;
  transition-delay: 0.5s;
  transition-duration: 0.2s;
}

[data-tooltip] {
  position: relative;
  cursor: help;
  text-transform: none;
}

[data-tooltip]::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: @opaque-grey transparent transparent transparent;
  z-index: 100;
  opacity: 0;
}

[data-tooltip]::after {
  text-transform: none;
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: @opaque-grey;
  color: @white;
  text-align: center;
  padding: 7px 10px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
}

.virkailija-modal__backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: @opaque-grey;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.virkailija-modal__container {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  max-width: 90%;
  background-color: white;
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgb(39, 39, 39);
}

.virkailija-modal__close-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 12px 0px 36px;
}

.virkailija-modal__content-container {
  display: flex;
  overflow-y: scroll;
}

.virkailija-modal__close-text {
  font-size: 16px;
  margin-right: 10px;
}

.virkailija-close-button {
  background: none;
  border: none;
  padding: 0px;
  font-size: 16px;
  width: 23px;
  height: 23px;
  color: @sg-color-gray-2;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    border: 0;
    background: none;
    color: @text-color;
  }
}

.virkailija-modal-enabled {
  overflow: hidden;
}

.hakukohde-and-hakukohderyhma-search-input {
  width: 80%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid @section-gray-border;
  border-radius: 2px;
  margin-top: 14px;
}

.hakukohde-and-hakukohderyhma-visibility-checkbox {
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  font-size: 14px;
  label:not(.disabled) {
    color: @blue-text-color;
    cursor: pointer;
  }
  input {
    margin-right: 9px;
  }
}

.hakukohde-and-hakukohderyhma-search-listing {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.hakukohde-and-hakukohderyhma-category-name {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 14px;
}

.hakukohde-and-hakukohderyhma-category-list {
  list-style: none;
  margin: 0px 0px 14px 0px;
  padding: 0px 0px 0px 20px;
}

.hakukohde-and-hakukohderyhma-category-list-item {
  margin-bottom: 8px;
  &--selected {
    list-style-image: url('/lomake-editori/images/icon_check.png');
  }
  &--show-more {
    text-align: center;
  }
}

.hakukohde-and-hakukohderyhma-list-item-label {
  font-size: 14px;
  color: @pale-blue;
  cursor: pointer;
  &:hover {
    color: @selected-blue;
  }
  &--selected {
    color: @text-color;
  }
  &--highlighted {
    background: #B7E3F1;
  }
}

.hakukohde-and-hakukohderyhma-show-more {
  font-size: 14px;
  color: @pale-blue;
  cursor: pointer;
  &:hover {
    color: @selected-blue;
  }
}

.hakukohde-and-hakukohderyhma-search-popup {
  .arrow(top, white, 8px, 80px);
  position: absolute;
  z-index: 10;
  background-color: white;
  border-radius: 3px;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.30));
  width: 680px;
  margin-top: 10px;
}

.hakukohde-and-hakukohderyhma-search-popup-header {
  display: flex;
  flex-direction: row;
  padding: 14px 14px 0px 28px;
  justify-content: space-between;
}

.hakukohde-and-hakukohderyhma-search-popup-content {
  padding: 28px;
  max-height: 400px;
  overflow-y: scroll;
}

.loading__curtain {
  position: fixed;
  z-index: 999;
  background-color: rgba(0,0,0,30%);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 30vh;

  i.zmdi.zmdi-spinner.spin {
    font-size: 60px;
    color: white;
  }
}

[type=checkbox], [type=radio] {
  padding: 0;
  background-color: transparent;
  border: 2px solid @neutral-grey-600;
  border-radius: 0.20rem;
  outline: none;
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  min-width: 1.25em;
  margin-right: 0.375em;
  font-size: inherit;
  vertical-align: middle;
  cursor: pointer;

  &:active, &:focus, &:hover {
    border-color: @neutral-grey-900;
  }

  &:checked, &:indeterminate {
    background-color: @checkbox-color;
    border-color: @checkbox-color;
    background-position: center;
    background-size: 0.75em auto;
    background-repeat: no-repeat;
    &:active, &:focus, &:hover {
      background-color: @checkbox-hover-color;
      border-color: @checkbox-hover-color;
    }
  }

  &:checked {
    background-image: @icon-checkbox;
  }

  &:indeterminate {
    background-image: @icon-minus;
  }

  &:disabled {
    opacity: 0.5;
    background-color: @neutral-grey-400;
    border-color: @neutral-grey-600;
    cursor: not-allowed;
  }

  & ~ label {
    display: inline-block;
    margin-right: 0.375em;
    margin-bottom: 0;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &::-ms-check {
    display: none;
  }
}

input[type=radio] {
  border-radius: 0.625em;
  &:checked {
    background-color: white;
    border-color: @checkbox-color;
    border-width: 0.35em;
    background-image: none;
    &:active, &:focus, &:hover {
      background-color: white;
      border-color: @checkbox-hover-color;
    }
  }
}