@import "vars";

@bar-height: 44px;

.top-banner {
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex: none;
  align-items: center;
  height: 70px;
  top: 0;
  flex-flow: row nowrap;
  background-color: @banner-blue;
  color: white;
  z-index: 20;
  .tabs {
    display: flex;
  }
  .title {
    display: flex;
    white-space: nowrap;
    .active-section {
      color: #fff;
    }
    a { color: white; }
    a:hover {
      text-decoration: none;
      border-bottom: 1px solid white;
    }
  }
  .divider {
    background-color: @paler-blue;
    height: 33px;
    width: 1px;
    margin: 5px 20px 0 20px;
  }
  .active-section-arrow {
    position: absolute;
    top: 10px;
    left: 33px;
    font-size: 20px;
  }

  .flasher {
    font-size: 13px;
    font-style: italic; /* Apparently we don't have italic from Open Sans yet... */
    color: #A8D6E6;
    border-radius: 2px;
    padding: 10px 15px;
    margin-right: 50px;
    animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    span {
      display: inline-block;
    }
  }
  .section-link {
    margin-top: 12px;
    position: relative;
  }
  .profile {
    margin-left: 50px;
    color: @paler-blue;
    .tooltip-indicator {
      cursor: help;
    }
  }
}
