@import "vars";
@import "mixins";

.application-handling__tutu-payment-maksupyynto-box {
    background-color: white;
    padding: 6px;
    border: 1px solid #e6e6e6;

    display: grid;
    justify-content: space-between;

    line-height: 38px;
    margin-bottom: 10px;

    grid-template-columns: 1fr 1fr;
}

.application-handling__tutu-payment-maksupyynto-spinner {
    grid-column: span 2;
    margin: auto;
    font-size: 36px;
}

.application-handling__tutu-payment-duedate-input {
  font-size: 14px;
  .light;
  padding: 6px;
  border: 1px solid @section-gray-border;
  border-radius: 2px;
}

.application-handling__tutu-payment-icon {
  align-self: center;
  display: inline-block;
  margin-right: 7px;
  width: 20px;
}

.application-handling__tutu-payment-icon--paid {
    color: #43a047;
    .application-handling__tutu-payment-icon();
}

.application-handling__tutu-payment-icon--outstanding {
    color: @warning-yellow;
    .application-handling__tutu-payment-icon();
}

.application-handling__tutu-payment-icon--overdue {
    color: red;
    .application-handling__tutu-payment-icon();
}

.application-handling__tutu-receipt-icon {
  margin-left: 10px;
}

.application-handling__tutu-payment--span-2 {
    grid-column: span 2;
}

.application-handling__tutu-payment-send-button {
  color: @white;
  grid-column: span 2;
  border-radius: 3px;
  box-shadow :none;
  padding: 5px;
  height: 41px;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
