{:server          {:allow-db-clear? true
                   :js-bundle-names {:virkailija "virkailija-cypress-ci-app.js"
                                     :hakija "hakija-cypress-ci-app.js"}}
 :db              {:database-name "ataru-test"
                   :pool-name     "ataru-pool"
                   :username      "oph"
                   :password      "oph"
                   :server-name   "localhost"
                   :port-number   5435
                   :schema        "public"}
 :aws             {:region "eu-west-1"
                   :henkilo-modified-queue {:enabled?      false
                                            :drain-failed? false
                                            :queue-url     ""}}
 :tutkintojen-tunnustaminen {:enabled?                    false
                             :form-key                    "testi-form-key"
                             :country-question-id         "testi-country-question-id"
                             :attachment-total-size-limit 10485760
                             :maksut                      {:enabled?                false
                                                           :poll-interval-minutes   60
                                                           :decision-amount         "70.00"
                                                           :form-keys      			    ""}
                             :ftp                         {:host               "localhost"
                                                           :port               1221
                                                           :user               "oph"
                                                           :password           "oph"
                                                           :verify-certificate false
                                                           :path               "/"
                                                           :timeout-seconds    10}}
 :kk-application-payments   {:enabled? false
                             :status-updater-enabled? false
                             :maksut-poller-enabled? false
                             :processing-fee "100.00"
                             :start-year 2025
                             :start-month 1
                             :start-day 1}
 :application-key-masking   {:secret-key "u2gxnoyCiV87s+CsOEnGnw=="}
 :application-delete-key    {:secret-key "vT6+TMbTwsJx5J&T"}
 :yksiloimattomat {:allow false}
 :cache           {:type :redis}
 :redis           {:uri "redis://localhost:6380"}
 :cas             {}
 :public-config   {:virkailija-caller-id                "1.2.246.562.10.00000000001.ataru-editori.frontend"
                   :hakija-caller-id                    "1.2.246.562.10.00000000001.ataru-hakija.frontend"
                   :applicant                           {:service_url "http://localhost:8354"}
                   :virkailija                          {:service_url "http://localhost:8354/lomake-editori/"}
                   :konfo                               {:service_url "http://localhost:8354"}
                   :environment-name                    "test"
                   :local-dev-logout                    true
                   :secret-link-valid-days              14
                   :attachment-file-max-size-bytes      10485760
                   :attachment-file-part-max-size-bytes 5242880
                   :features {:arvosanat true
                              :hakeminen-tunnistautuneena false}
                   :information-request-reminder-job-hour 9}
 :temp-files      {:filesystem {:base-path "/tmp"}}
 :dev             {:fake-dependencies true}
 :urls            {:virkailija-host                     "toimimaton.virkailija-host-arvo.cypress.ci.edn-tiedostosta"
                   :hakija-host                         "toimimaton.hakija-host-arvo.cypress.ci.edn-tiedostosta"
                   :valinta-tulos-service-base-url      "http://localhost:55443"
                   :organisaatio-service-base-url       "http://localhost:55443"
                   :koodisto-service-base-url           "http://localhost:55443"
                   :ohjausparametrit-service-base-url   "http://localhost:55443"
                   :tutu-service-base-url               "http://localhost:55443"
                   :valintalaskenta-ui-service-base-url "http://localhost:55443"
                   :editor-url                          "http://localhost:8354/lomake-editori"
                   :liiteri-url                         ""
                   :cas-oppija-url                      ""
                   :ataru-hakija-login-url "http://localhost:8351/hakemus/auth/oppija"}}
