{:db             {:database-name "ataru-dev"
                  :pool-name     "ataru-pool"
                  :username      "oph"
                  :password      "oph"
                  :server-name   "localhost"
                  :port-number   5432
                  :schema        "public"}
 :aws            {:region "eu-west-1"}
 :cache          {:type :redis}
 :redis          {:uri "redis://localhost:6379"}
 :session        {:timeout 28800}
 :public-config  {:applicant        {:service_url "http://localhost:8351"}
                  :virkailija       {:service_url "http://localhost:8350/lomake-editori/"}
                  :environment-name "dev"
                  :features         {}
                  :attachment-modify-grace-period-days 14}
 :background-job {:exec-interval-seconds 15}
 :log            {:virkailija-base-path "/tmp"
                  :hakija-base-path     "/tmp"}
 :urls           {:virkailija-host "virkailija.untuvaopintopolku.fi"
                  :hakija-host     "oppija.untuvaopintopolku.fi"
                  :editor-url      "http://localhost:8350/lomake-editori"
                  :liiteri-url     "https://virkailija.untuvaopintopolku.fi/liiteri"}}
