{:db {:database-name "ataru"
       :pool-name "ataru-pool"
       :username "oph"
       :password "oph"
       :server-name "localhost"
       :port-number 5432
       :schema "public"}
 :email {:email_service_url "https://itest-virkailija.oph.ware.fi"}
 :public-config {:applicant {:service_url "http://localhost:8351"}}
 :codes-service {:url "https://itest-virkailija.oph.ware.fi/koodisto-service"}}
