{:server {:allow-db-clear? true}
 :db {:database-name "ataru-test"
      :pool-name "ataru-pool"
      :username "oph"
      :password "oph"
      :server-name "localhost"
      :port-number 5433
      :schema "public"}
 :cas {}
 :authentication {:opintopolku-login-url "https://itest-virkailija.oph.ware.fi/cas/login?service="
                  :opintopolku-logout-url  "https://itest-virkailija.oph.ware.fi/cas/logout?service="
                  :ataru-login-success-url "http://localhost:8350/lomake-editori/auth/cas"
                  :cas-client-url "https://itest-virkailija.oph.ware.fi"}
 :tarjonta-service {:hakukohde-base-url "https://itest-virkailija.oph.ware.fi/tarjonta-service/rest/v1/hakukohde/"
                    :forms-in-use-url "https://itest-virkailija.oph.ware.fi/tarjonta-service/rest/v1/haku/ataru/all"}
 :public-config {:applicant {:service_url "http://localhost:8351"}
                 :virkailija {:service_url "http://localhost:8350/lomake-editori"}}
 :dev {:fake-dependencies true}}
