{:server        {:allow-db-clear? true}
 :db            {:database-name "ataru-test"
                 :pool-name     "ataru-pool"
                 :username      "oph"
                 :password      "oph"
                 :server-name   "localhost"
                 :port-number   5433
                 :schema        "public"}
 :aws           {:region "eu-west-1"}
 :cache         {:type :redis}
 :redis         {:uri "redis://localhost:6380"}
 :cas           {}
 :public-config {:applicant        {:service_url "http://localhost:8351"}
                 :virkailija       {:service_url "http://localhost:8350/lomake-editori/"}
                 :environment-name "test"
                 :enable-re-frisk  true
                 :local-dev-logout true}
 :dev           {:fake-dependencies true}
 :urls          {:virkailija-host "virkailija.untuvaopintopolku.fi"
                 :hakija-host     "oppija.untuvaopintopolku.fi"
                 :editor-url      "http://localhost:8350/lomake-editori"
                 :liiteri-url     ""}}

